@import '../../mixins.css';

/* main admin container */
.admin.content {
  padding: 0; /* fullwidth on small screens */

  /* add padding on bigger screens */
  @add-mixin min-md {
    padding: 0 var(--gutter-md);
  }

  /* set initial loading spinner height */
  & .loading {
    min-height: calc(100vh - 240px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* inner container, includes tabs and panels */
.admin-tabs {
  width: 100%;
  margin-top: 0;
  margin-bottom: -35px; /* offset footer margin */

  /* border radius on bigger screens */
  @add-mixin min-md {
    border-radius: var(--radius-md);
    overflow: hidden;
  }

  & > .pt-tab-list {
    background-color: var(--black);
    flex-wrap: nowrap;
    overflow-x: auto;

    & .pt-tab-indicator {
      background-color: var(--sky-dark);
      height: 100%;
      bottom: 0;
    }

    & .pt-tab {
      color: rgba(255, 255, 255, 0.75);
      font-weight: bold;
      padding: var(--gutter-xs) var(--gutter-md);
      margin: 0;
      transition: color 0.2s;

      &[aria-expanded=true] {
        color: var(--white);
      }
      &[aria-expanded=true]:before {
        background-color: rgba(255, 255, 255, 0);
      }
      &[aria-expanded=false]:hover {
        color: var(--white);

        &:before {
          background-color: var(--sky);
        }
      }
    }
  }

  & > .admin-tab {
    margin-top: 0;
    margin-bottom: 0;

    /* make sections scrollable */
    &:not(.lessonplan-admin-tab),
    & .lessonbuilder-tree,
    & .item-editor {
      min-height: calc(100vh - 120px);
    }

    & .lessonbuilder-tree {
      z-index: 1;
    }

    & .item-editor-inner {
      padding: var(--gutter-md);
    }

    /* limit height and set overflow on bigger screens */
    @add-mixin min-md {
      &:not(.lessonplan-admin-tab),
      & .lessonbuilder-tree {
        max-height: calc(100vh - 125px);
        overflow-y: auto;
      }

      /* offset fixed action bar */
      & .item-editor-inner {
        min-height: 0;
        height: calc(100vh - 120px - var(--nav-height));
        overflow-y: auto;
      }
    }

    &.pt-tab-panel {
      background-color: var(--white);
      padding: var(--gutter-md);
      &#pt-tab-panel_undefined_lesson-builder {
        padding: 0;
      }
      & .pt-table {
        width: 100%;
      }
    }
  }
}

/* tabs within a tab */
.admin-sub-tabs-container {
  text-align: center;

  & .admin-sub-tabs {

    & .pt-tab-list {
      display: block;
      width: 100%;
    }

    & .pt-tab {
      @add-mixin font-sm;
      display: inline-block;

      &[aria-expanded=true] {
        color: var(--sky-black);
      }
    }

  }
}


/* fixed actions bar */
.admin-actions-bar {
  /* sizing */
  width: 100%;
  height: var(--nav-height);
  /* position children */
  padding: 0 var(--gutter-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* theming */
  background-color: var(--white);

  /* stuck to bottom on big screens */
  @add-mixin min-md {
    /* positioning */
    position: absolute;
    bottom: calc(0 - var(--nav-height));
    left: 0;
    right: 0;
    /* theming */
    box-shadow: 0 0 1em rgba(8, 26, 24, 0.125);
  }

  /* override p defaults */
  & .admin-actions-preview {
    display: inline-block;
    margin: 0;
    top: -1px; /* fudge baseline */

    & .link {
      margin-left: 0.5em;
    }
  }

  /* just one button */
  & .button:first-child:last-child {
    width: 100%;
  }
}


/* translations */
.translation-field-group {
  padding: var(--gutter-xs) var(--gutter-sm) var(--gutter-sm) var(--gutter-sm);
  /* account for padding */
  width: calc(100% + var(--gutter-md));
  left: calc(0 - var(--gutter-sm));
  /* stacked layout */
  display: flex;
  flex-direction: column;
  /* theming */
  border-radius: var(--radius-md);
  /* transitions */
  transition: background 0.2s;

  /* pt fields first if using pt.codelife.com */
  &.pt {
    flex-direction: column-reverse;
  }

  /* 2 column layout */
  @add-mixin min-md {
    justify-content: space-between;
    flex-direction: row;

    /* pt fields first if using pt.codelife.com */
    &.pt {
      flex-direction: row-reverse;
    }

    /* 2 column layout */
    & .field-container {
      width: calc(50% - var(--gutter-sm));

      /* reset margin */
      & + .field-container {
        margin-top: 0;
      }
    }
  }

  /* space out adjacent field groups */
  & + .translation-field-group {
    margin-top: var(--gutter-xs);
  }

  /* interactions */
  &:hover,
  &:focus-within {
    background-color: color(var(--light-1) a(25%));
  }
}
