.word {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--gutter-md);
  border-bottom: 3px black solid;
}

.touched {
  background-color: var(--danger-light);
}

.glossary-button {
  margin: 3px;
}

.action-box {
  text-align: center;
  margin-top: 40px;
  width: 10%;
}

.word-container {
  width: 45%;
  display: inline-block;
}

.word-box {
  width: 200px;
  margin: var(--gutter-xxs);
}

.definition-box {
  margin: var(--gutter-xxs);
  background-color: var(--white);
}

.word-container-readonly {
  width: 45%;
  display: inline-block;
}

.word-box-readonly {
  width: 200px;
  margin: var(--gutter-xxs);
  background-color:white;
  padding: var(--gutter-xxs);
}

.definition-box-readonly {
  margin: var(--gutter-xxs);
  background-color: var(--white);
  padding: var(--gutter-xxs);
  width: 500px;
}
