#ReportViewer {
  background-color: var(--white);
  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
  padding: var(--gutter-md);
  & .pt-table {
    width: 100%;
    & .mod-button {
      margin-right: var(--gutter-xxs);
    }
  }
}
