@import "../../mixins.css";

/* statistics page */
.statistics {
  /* admin only */
  & .totals {
    margin: var(--gutter-sm) 0 var(--gutter-lg) 0;
    text-align: center;

    & .stat {
      display: inline-block;
      margin: 0 1em;

      & .stat-value,
      & .stat-label {
        display: block;
      }

      & .stat-value {
        color: var(--sky-black);
      }

      & .stat-label {
        text-transform: uppercase;
      }
    }
  }

  /* no users retreived */
  & .pt-non-ideal-state {
    padding-top: var(--gutter-sm);
    max-width: 100%;

    & .pt-non-ideal-state-title {
      @add-mixin font-md;
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }
}

/* the table */
.statistics-table-container {
  display: inline-block;
  max-width: 100%;
}
.statistics-table {
  display: block; /* make the table honor width */
  width: 110%; /* flow off the right edge of the page */
  overflow: auto; /* scrollable on smaller screens */
  /* theming */
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: var(--radius-md);

  /* no longer a need to overflow */
  @add-mixin min-md {
    display: table;
    overflow: hidden;
    width: 100%;
  }

  & .statistics-table-header,
  & .statistics-table-body {
    width: 100%;
  }

  /* zebra striping */
  & .statistics-table-header-row,
  & .statistics-table-row:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.75);
  }

  /* clickable table labels */
  & .statistics-table-heading {
    cursor: default;
    white-space: nowrap;

    /* filter icons */
    & .statistics-icon {
      margin-right: 0.2em;
      color: var(--light-3); /* default / unfiltered color */
      /* transitions */
      transition: color 0.2s;

      /* filtered state */
      &:not(.pt-icon-double-caret-vertical) {
        color: var(--sky-dark);
      }
    }

    /* interactions */
    &:hover .statistics-icon {
      color: var(--sky);
    }
  }

  /* cells */
  & .statistics-table-cell {
    vertical-align: middle;
    padding: 0.75em 1.5em;

    &.progress .pt-progress-bar {
      margin-top: 0.3125rem; /* fudge into place vertically */
      width: 5.625rem;
    }

    &.created-at {
      min-width: 10rem;
    }
  }
}

/* admin panel overrides */
.admin .statistics-table {
  /* keep table from spilling out of container */
  @add-mixin min-md {
    table-layout: fixed;
  }
}

/* link de redirect para new panel of statistics */
.color-link-dashboard {
  color: #0f807e;
}

.color-link-dashboard:hover {
  color: #3bd9cc;
  text-decoration: none;
}
