.stat-tabs .pt-tab-list {
  background-color: var(--light-1);
  border: 1px solid var(--light-3);
  border-radius: var(--radius-md);
  justify-content: center;
  margin-bottom: var(--gutter-xs);
  & .pt-tab {
    margin: 0;
    padding: 2px 13px 3px;
    &[aria-selected="true"] {
      background-color: var(--dark-1);
      color: var(--white);
    }
  }
  & .pt-tab-indicator {
    display: none;
  }
}

#statistics {
  & #totals {
    margin: var(--gutter-xs) 0;
    text-align: center;
    & .stat {
      margin: 0 var(--gutter-xs);
      & .value {
        font-weight: bold;
      }
    }
  }
  & .pt-non-ideal-state {
    height: 300px;
    max-width: 100%;
  }
  & .pt-table {
    width: 100%;
    & th {
      cursor: pointer;
      white-space: nowrap;
      & .pt-icon-double-caret-vertical {
        opacity: 0.25;
      }
      & .pt-icon-standard {
        margin-left: -3px;
      }
      & .pt-icon-caret-down, & .pt-icon-caret-up {
        color: var(--danger-dark);
      }
    }
    & td {
      vertical-align: middle;
    }
    & .username {
      max-width: 150px;
    }
    & .pt-progress-bar {
      width: 80px;
    }
    & .createdAt {
      min-width: 150px;
    }
  }
}
