#snippets {

  & .snippets-list {
    list-style: none;
    margin: 0;
    padding: 0;

    & .snippet {
      align-items: center;
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      opacity: 0.75;
      padding: 8px 0 9px 0;
      transition: opacity 0.2s;
      width: 100%;

      &:hover {
        opacity: 1;
      }

      & .snippet-title {
        flex: 1;
      }

      & .pt-popover-target {
        margin: 0 5px;

        &:hover {
          cursor: pointer;
        }

      }

      & .snippet-author {
        font-size: 12px;
        opacity: 0.75;
        width: 100%;
      }

    }

  }

}