@import url("https://fonts.googleapis.com/css?family=Overpass:400,600,700");

body {
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
}

#app {
  min-height: 100vh;
  position: absolute;
  width: 100%;

  & .container {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
  }

}

#about-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 25px 25px;
  padding: 25px;
}

:focus { outline: 0; }

/*.pt-overlay-backdrop {
  background-color: rgba(245, 245, 255, 0.7);
}*/

.pt-input {
  border-radius: 10px;
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
}

.pt-file-upload-input {
  border-radius: 10px 0 0 10px;

  &:after {
    border-radius: 0 10px 10px 0;
  }
}

.pt-select select {
  border-radius: 10px;
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
}

.pt-button {
  border-radius: 10px;
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
}

.pt-button.pt-intent-primary {
  background: #328f86;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat #328f86;
  color: white;

  &:hover {
    background-color: color(#328f86 blackness(50%));
  }
}

.pt-popover {
  border-radius: 10px;
  & .pt-popover-content {
    border-radius: 10px;
    & .pt-button:last-child {
      margin-bottom: 0;
    }
  }
}

.pt-dialog {
  background-color: #fafffe;
  border: 1px solid #328F86;
  border-radius: 10px;
  position: fixed !important;

  & .pt-dialog-header {
    background: #328F86;
    border-radius: 8px 8px 0 0;

    & h5, & button, & span {
      color: white;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

  }

  & .pt-dialog-body {
    display: flex;
  }

  & .pt-dialog-footer {
    padding: 0 10px;

    & .pt-dialog-footer-byline {
      color: #444;
      float: left;
      opacity: 0.75;
      margin-top: 7px;
    }

  }

}

.pt-toast .pt-button {
  margin: 0;
}

.pt-card {
  align-self: stretch;
  background-color: rgba(120, 120, 120, 0.5);
  border-radius: 10px;
  color: white;
  display: flex;
  flex: none;
  margin: 20px;
  padding: 0;
  text-align: left;
  width: 250px;

  &:hover {
    color: white;
    text-decoration: inherit;
  }

  & .box {
    align-items: center;
    align-self: stretch;
    display: flex;
    padding: 10px;

    & .icon {
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 25px;
      flex: none;
      height: 50px;
      margin-right: 10px;
      text-align: center;
      width: 50px;

      & .pt-icon-standard {
        font-size: 26px;
        line-height: 48px;
      }

    }

    & .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 5px;

      & .card-title {
        font-size: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }

      & .card-like {
        font-size: 12px;
        margin-top: 5px;
        opacity: 0.75;

        & .pt-icon-standard {
          margin-right: 5px;
        }

      }

      & .card-author {
        font-size: 12px;
        margin-top: 5px;
        opacity: 0.75;

        & .pt-icon-standard {
          color: white;
          margin-right: 5px;
        }

      }

    }

  }

  &:hover {
    cursor: pointer;
  }

}
