@import url("https://fonts.googleapis.com/css?family=Overpass:400,600,700");

body {
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
}

#app {
  min-height: 100vh;
  position: absolute;
  width: 100%;

  & .container {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
  }

}

:focus { outline: 0; }

/*.pt-overlay-backdrop {
  background-color: rgba(245, 245, 255, 0.7);
}*/

.pt-input {
  border-radius: 10px;
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
}

.pt-select select {
  border-radius: 10px;
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
}

.pt-button {
  border-radius: 10px;
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.5px;
}

.pt-button.pt-intent-primary {
  background: #328f86;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat #328f86;
  color: white;

  &:hover {
    background-color: color(#328f86 blackness(50%));
  }
}

.pt-popover {
  border-radius: 10px;
  & .pt-popover-content {
    border-radius: 10px;
    & .pt-button:last-child {
      margin-bottom: 0;
    }
  }
}

.pt-dialog {
  background-color: #fafffe;
  border: 1px solid #328F86;
  border-radius: 10px;
  padding-bottom: 8px;
  position: fixed !important;

  & .pt-dialog-header {
    background: #328F86;
    border-radius: 8px 8px 0 0;

    & h5, & button, & span {
      color: white;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

  }

  & .pt-dialog-footer {

    & .pt-dialog-footer-byline {
      color: #444;
      float: left;
      opacity: 0.75;
      margin-top: 5px;
    }

  }

}

.pt-toast .pt-button {
  margin: 0;
}
