#Checkpoint {
  width: 100%;
  & .pt-select {
    display: block;
    width: 100%;
    & select {
      width: 100%;
    }
  }
  & .pt-popover-target {
    margin: 5px 0;
    width: 100%;
    & .pt-button {
      align-items: center;
      display: flex;
      justify-content: space-between;
      line-height: 17px;
      padding: 10px;
      text-align: left;
      width: 100%;
      & span:not(:last-child) {
        flex: 1;
      }
    }
  }
}
