#code-editor-panels {
  align-self: stretch;
  display: flex;
  flex: 1;
  margin: 0 15px;
}

.code-editor-ace {
  align-self: stretch;
  flex: 1;
  margin: 0 10px;
}

.code-editor-render {
  align-self: stretch;
  background-color: white;
  border: 1px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  flex: 1;
  margin: 0 10px;
}