.codeBlock {
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  & .codeBlock-body {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    min-height: 0;
    padding: var(--gutter-xs) 0;
    & .codeBlock-text {
      align-self: stretch;
      flex: none;
      font-size: 16px;
      line-height: var(--gutter-md);
      margin-top: var(--gutter-xs);
      max-width: 300px;
      overflow-y: auto;
      white-space: pre-wrap;
      & .pt-progress-bar {
        height: var(--gutter-xs);
        margin: 0 var(--gutter-xxs) var(--gutter-xs);
        text-align: left;
        width: calc(100% - var(--gutter-xs));
      }
    }
    @add-mixin max-sm {
      flex-direction: column;
      flex-wrap: nowrap;
      & .codeBlock-text {
        max-width: auto;
      }
    }
  }
  & .codeBlock-foot {
    text-align: center;
    & .pt-button {
      margin: 0 var(--gutter-xxs) var(--gutter-xs);
    }
    & .pt-callout {
      display: inline-block;
    }
  }
}

.pt-dialog.codeBlock .pt-dialog-body {
  display: flex;
  min-height: 0;
}

.pt-popover.pt-popover-content-sizing .pt-popover-content {
  max-width: 35vw;
  white-space: pre-wrap;
}
