.snippets {

  & .snippets-list {
    list-style: none;
    padding: 0; /* blueprint override */

    & .snippet {
      padding: var(--gutter-xxs);
      transition: background-color 0.1s;

      & .icon {
        height: var(--gutter-md);
        margin-right: var(--gutter-xxs);
        vertical-align: middle;
        width: var(--gutter-md);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

    }

  }

}
