#codeBlock {
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;

  & .codeBlock-body {
    align-self: stretch;
    display: flex;
    flex: 1;
    padding: 10px 0;

    & .codeBlock-text {
      flex: none;
      font-size: 16px;
      line-height: 20px;
      margin: 0 25px;
      white-space: pre-wrap;
      width: 300px;

      & .validation-list {
        list-style: none;
        margin: 10px 0;
        padding: 0;

        & .validation-item {
          color: red;

          &.complete {
            color: green;
          }
        }
      }
    }

    & .codeEditor {
      flex: 2;
    }

    @media only screen and (max-width : 768px) {
      flex-direction: column;
      flex-wrap: nowrap;

      & .codeBlock-text {
        width: auto;
      }

    }

  }

  & .codeBlock-foot {
    margin: 0 25px;
    text-align: center;

    & .pt-button {
      margin: 0 5px 10px;
    }

    & .pt-callout {
      display: inline-block;
    }

  }

}

.pt-dialog.codeBlock .pt-dialog-body {
  display: flex;
}

.pt-popover.pt-popover-content-sizing .pt-popover-content {
  max-width: 35vw;
  white-space: pre-wrap;
}
