@import '../mixins.css';

/* discussion toggle button */
.discussion-toggle {
  display: block; /* make margin work as intended */
  margin: var(--gutter-md) auto var(--gutter-xl);
  min-width: var(--button-double-width);
  top: var(--gutter-md);
  z-index: 1;
}

/* main container */
.discussion-container {
  @add-mixin slide-theme;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -105px var(--gutter-md) var(--gutter-md) var(--gutter-md);
  padding: var(--gutter-xl) var(--gutter-md) var(--gutter-md) var(--gutter-md);

  @add-mixin min-sm {
    padding-top: var(--gutter-md);
  }

  & .discussion-inner {
    @add-mixin min-md {
      width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* title */
  & .discussion-heading {
    margin-bottom: var(--gutter-md);
  }

  /* sort by */
  & .sort-bar {
    margin-bottom: var(--gutter-md); /* space out content on small screens */
    top: -var(--gutter-xs);

    /* take button out of the flow and center */
    @add-mixin min-xs {
      position: absolute;
      right: 0;
      top: 0;
    }

    & .pt-select {
      margin-left: var(--gutter-xs);
    }
  }
  & .threads {
    margin-top: var(--gutter-md);
    margin-bottom: var(--gutter-md);
    z-index: 1; /* make popovers appear above hide discussion button */

    & .thread {
      padding: var(--gutter-md);
      background-color: var(--white);

      &:not(.comment-thread) {
        border-radius: var(--radius-md);
        box-shadow: 0 2px 1em rgba(8, 26, 24, 0.25);

        & + .thread {
          margin-top: var(--gutter-sm);
        }
      }

      & .pt-icon {
        margin-right: var(--gutter-xxs);
      }

      /* reset span display */
      &, & span {
        display: block;
      }

      & .pt-button > span,
      & .link > span {
        display: inline-block;
      }

      & .thread-header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        & .thread-content {
          & .thread-user {

           & * {
            display: inline;
           }
            & .thread-date {
              margin-left: var(--gutter-xxs);
            }
          }
        }
        & .thread-actions {
          display: flex;
          align-items: center;

          & > * {
            display: inline-block;
            margin-left: var(--gutter-xs);
            vertical-align: top;
          }
        }
      }
      & .thread-body {
        margin: var(--gutter-xs) 0 0 0;
      }
      & .comments {

        & .comment-thread {
          /* sizing */
          padding: var(--gutter-xxs) var(--gutter-sm);
          /* theming */
          border-left: var(--gutter-xxs) solid var(--sky-black);

          &:first-of-type {
            margin-top: var(--gutter-sm);
          }
        }
      }
    }
  }
  & .new-comment, & .new-thread {
    & .new-comment-title, & .new-thread-title {
      margin: var(--gutter-xs) 0;
      /* text-transform: uppercase; */
    }
    & .pt-input {
      margin: 0 0 var(--gutter-xs);
      width: 100%;
    }
    & .quill {
      margin-top: var(--gutter-xs);
      margin-bottom: var(--gutter-md);

      & .ql-toolbar {
        background: var(--white);
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
      }
      & .ql-container {
        background: var(--white);
        border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        min-height: 100px;
      }
    }
    & .post-button-container {
      text-align: left;

      @add-mixin min-sm {
        text-align: right;
      }
    }
  }
}
