@import '../mixins.css';

/* discussion toggle button */
.discussion-toggle {
  display: block; /* make margin work as intended */
  margin: var(--gutter-md) auto;
  min-width: var(--button-double-width);
  z-index: 1;

  @add-mixin min-md {
    margin-top: var(--gutter-lg);
  }
}

/* main container */
.discussion-container {
  @add-mixin slide-theme;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -40px var(--gutter-sm) var(--gutter-md) var(--gutter-sm);
  padding: var(--gutter-md);

  @add-mixin min-md {
    margin: -80px var(--gutter-md) var(--gutter-md) var(--gutter-md);
  }

  & h3 {
    margin-bottom: var(--gutter-md);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  & #sort-bar {
    position: absolute;
    right: var(--gutter-md);
    top: var(--gutter-md);
    & .pt-select {
      margin-left: var(--gutter-xs);
    }
  }
  & #threads {
    & .thread {
      padding: var(--gutter-md);
      width: 100%;
      &:nth-child(odd) {
        background-color: var(--light-1);
      }
      & .thread-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & .thread-content {
          & .thread-title {
            font-size: 18px;
            font-weight: bold;
          }
          & .thread-user {
            & .pt-icon-standard {
              margin-right: var(--gutter-xxs);
              opacity: 0.75;
            }
            & .thread-date {
              font-size: 12px;
              margin-left: var(--gutter-xxs);
              opacity: 0.75;
            }
          }
          & .thread-body {
            margin: var(--gutter-xs) 0 0;
          }
        }
        & .thread-actions {
          &>* {
            display: inline-block;
            margin-left: var(--gutter-xs);
            vertical-align: top;
          }
        }
      }
      & .comments {
        & .comment {
          border-bottom: 1px solid var(--light-2);
          padding: var(--gutter-xs) var(--gutter-md);
          &:first-child {
            border-top: 1px solid var(--light-2);
            margin-top: var(--gutter-xs);
          }
          & .comment-title {
            font-size: 14px;
            font-weight: bold;
          }
          & .comment-user {
            font-size: 12px;
            & .pt-icon-standard {
              font-size: 14px;
              margin-right: var(--gutter-xxs);
              opacity: 0.75;
            }
            & .comment-date {
              font-size: 12px;
              margin-left: var(--gutter-xxs);
              opacity: 0.75;
            }
          }
          & .comment-body {
            margin: var(--gutter-xs) 0 0;
          }
          & .report-comment {
            position: absolute;
            right: var(--gutter-xs);
            top: var(--gutter-xs);
          }
        }
      }
    }
  }
  & .new-thread {
    border-top: 1px solid var(--light-2);
  }
  & .new-comment, & .new-thread {
    margin: var(--gutter-md) 0 0;
    & .new-comment-title, & .new-thread-title {
      font-weight: bold;
      margin: var(--gutter-xs) 0;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    & .pt-input {
      margin: 0 0 var(--gutter-xs);
      width: 100%;
    }
    & .quill {
      & .ql-toolbar {
        background: var(--white);
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
      }
      & .ql-container {
        background: var(--white);
        border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        min-height: 100px;
      }
    }
    & .pt-button {
      margin-top: var(--gutter-xs);
    }
  }
}
