@import "../mixins.css";

/* repeating image */
.footer:before {
  content: '';
  display: block;
  /* sizing */
  width: 100%;
  height: 50px;
  /* positioning */
  position: absolute;
  top: -50px; /* position bg image above .footer background */
  /* background sizing and default image */
  background-image: url("/ground.png");
  background-size: contain;
  background-position: -10% bottom;
  background-repeat: repeat-x;
}

/* default colors */
.footer {
  margin-top: 150px; /* offset image */
  background: var(--black);

  & * {
    color: var(--light-2);
  }
}

/* container */
.footer-inner {
  padding: var(--gutter-md);

  /* space out content on bigger screens */
  @add-mixin min-sm {
    display: flex;
    justify-content: space-between;
    padding: var(--gutter-lg) var(--gutter-lg) var(--gutter-md) var(--gutter-lg);
  }

  /* align links and credits */
  & > * {
    display: inline-block;
    vertical-align: top;
  }
}

/* lists of links */
.footer-list {
  @add-mixin list-reset;
  margin-top: -0.25rem; /* fudge into place */

  /* full width links on mobile */
  @add-mixin max-xs {
    width: 100%;

    & .footer-item + .footer-item {
      border-top: 1px solid var(--dark-3);
    }

    & .footer-link {
      display: block;
      width: 100%;
    }
  }

  /* links (nested within list items) */
  & .footer-link {
    @add-mixin nav-link;
    padding-top: 0.75em;
    padding-bottom: 0.75em;

    @add-mixin min-xs {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }

    /* interactions */
    &:hover, &:focus {
      color: var(--light-2);
    }
  }
}

/* list of lists */
.footer-nav {
  display: block;

  & .footer-list-container {
    /* positioning */
    display: inline-block; /* keep items together */
    vertical-align: top; /* thanks blueprint */
    margin-bottom: var(--gutter-md);
    /* sizing */
    width: 100%;
    max-width: 100%;

    /* sizing and margin for bigger screens */
    @add-mixin min-xs {
      width: 11rem; /* 184px */
      margin-right: var(--gutter-md); /* 40px */
    }
  }
}

/* credits */
.footer-credits-container {
  display: inline-block;
  text-align: center;
  width: 100%;

  /* right align on reasonably sized viewports */
  @add-mixin min-sm {
    text-align: right;
    width: auto;
  }

  /* datawheel logo */
  & .footer-logo-link {
    height: var(--gutter-md);
    /* increase clickable area */
    padding-top: var(--gutter-md);
    padding-bottom: var(--gutter-md);

    /* offset height when side by side */
    @add-mixin min-sm {
      top: -10px; /* fudge into place */
    }

    /* vertically center built by datawheel */
    & > * {
      display: inline-block;
      vertical-align: middle;
    }

    & > .footer-logo-text {
      margin-right: 0.25em;
    }

    /* logo sizing */
    & > .footer-logo-img {
      height: var(--gutter-lg);
      /* transitons */
      opacity: 0.75;
      transition: 0.2s opacity;
    }

    /* interactions */
    &:hover, &:focus {
      /* remove underline from "built by" */
      text-decoration: none;

      /* reset opacity on logo */
      & > .footer-logo-img {
        opacity: 1;
      }
    }
  }

  /* credits */
  & .footer-credits {
    margin-top: var(--gutter-sm);

    @add-mixin min-sm {
      margin-top: var(--gutter-lg);
    }

    & .footer-credits-link {
      display: block;
      margin-top: 0.25em;
      color: var(--light-3);

      &:hover, &:focus {
        color: var(--light-2);
      }
    }
  }
}
