#footer {
  align-items: center;
  background-image: url("/ground.png");
  background-repeat: repeat-x;
  bottom: 0;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  left: 0;
  padding: 50px 25px 25px;
  position: absolute;
  width: 100%;

  @for $i from 1 to 20 {
    &.island-$i {
      background-image: url("/islands/island-$(i)-ground.png");
    }
  }

  & .links {

    & .link {
      color: white;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    & .link:not(.language) {
      margin-right: 15px;
    }

  }

  & .logos {
    align-items: center;
    display: flex;

    & .logo {
      height: 30px;
      margin: 0 15px;
      opacity: 0.9;
      transition: opacity 0.2s;

      &.datawheel {
        height: 40px;
      }

      &:hover {
        opacity: 1;
      }
    }

  }

}
