.island-link {
  /* sizing */
  width: 400px;
  height: 300px;
  max-width: 100%; /* prevent from breaking out of container on small viewports */
  /* positioning */
  align-items: center;
  display: flex;
  justify-content: center;

  /* small link, used as next/prev on map page */
  &.island-link-small {
    width: 300px;
    height: 250px;
  }

  /* image — div with background image set in Islands.css */
  & .island-link-image {
    /* sizing */
    display: block;
    width: 100%;
    height: 100%;
    /* positioning */
    position: absolute;
    top: 0;
    left: 0;
    /* theming */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* transitions */
    transform: scale(0.9);
    transition: transform 0.2s;
  }
}

/* popover container */
.island-link-popover {
  transition: height 0.2s, transform 0.2s;
  max-width: 200px;
  margin-top: 80px;
  z-index: 1; /* override blueprint */

  /* contains title and description; .pt-popover-content */
  & .island-link-label {
    width: 200px;
  }

  /* title */
  & .island-link-title {
    /* typography */
    letter-spacing: 0.25px;
    text-transform: uppercase;

    /* icon */
    & .pt-icon-standard {
      margin-right: 0.5em;
      opacity: 0.75;
    }
  }

  /* description */
  & .island-link-description {
    /* typography */
    font-size: var(--gutter-xs);
    /* transitions */
    max-height: 0;
    opacity: 0;
    transform: scale(0.75);
    transition:
      max-height 0.2s,
      opacity 0.1s,
      transform 0.2s;
  }
}

/* locked state */
.island-link.is-locked {
  pointer-events: none; /* prevent interactions */

  /* grayed out label */
  & .island-link-label {
    background-color: var(--dark-2);
  }
  /* transparent image */
  & .island-link-image {
    opacity: .5;
  }
}

/* interactions */
.island-link {
  &:hover, &:focus {
    text-decoration: none; /* override blueprint style */

    /* scale up image to 100% */
    & .island-link-image {
      transform: none; /* reset to default */
    }

    /* scale up tooltip */
    & .island-link-popover {
      transform: scale(1.3);

      /* show description */
      & .island-link-description {
        padding-top: 1em; /* messes up label padding if added before :hover */
        max-height: 10em; /* must be set to a value for transition to work */
        /* reset to default */
        transform: none;
        opacity: 1;
      }
    }
  }
}
