.island-jungle {
  &#footer {
    background-image: url("/islands/island-jungle-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-jungle.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-jungle, dark);
  }
  &#island #path:before {
    background-color: map(islands, island-jungle, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-jungle, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-jungle, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-jungle, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-jungle, dark);
    color: map(islands, island-jungle, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-jungle, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-jungle, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-jungle, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-jungle, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-jungle, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-jungle, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-jungle, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-jungle, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-jungle, dark);
  }
}

.island-themepark {
  &#footer {
    background-image: url("/islands/island-themepark-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-themepark.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-themepark, dark);
  }
  &#island #path {
    top: 330px;
  }
  &#island #path:before {
    background-color: map(islands, island-themepark, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-themepark, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-themepark, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-themepark, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-themepark, dark);
    color: map(islands, island-themepark, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-themepark, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-themepark, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-themepark, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-themepark, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-themepark, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-themepark, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-themepark, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-themepark, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-themepark, dark);
  }
}

.island-blizzard {
  &#footer {
    background-image: url("/islands/island-blizzard-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-blizzard.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-blizzard, dark);
  }
  &#island #path {
    top: 345px;
  }
  &#island #path:before {
    background-color: map(islands, island-blizzard, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-blizzard, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-blizzard, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-blizzard, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-blizzard, dark);
    color: map(islands, island-blizzard, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-blizzard, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-blizzard, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-blizzard, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-blizzard, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-blizzard, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-blizzard, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-blizzard, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-blizzard, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-blizzard, dark);
  }
}

.island-desert {
  &#footer {
    background-image: url("/islands/island-desert-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-desert.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-desert, dark);
  }
  &#island #path:before {
    background-color: map(islands, island-desert, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-desert, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-desert, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-desert, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-desert, dark);
    color: map(islands, island-desert, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-desert, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-desert, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-desert, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-desert, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-desert, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-desert, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-desert, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-desert, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-desert, dark);
  }
}

.island-industry {
  &#footer {
    background-image: url("/islands/island-industry-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-industry.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-industry, dark);
  }
  &#island #path {
    top: 340px;
  }
  &#island #path:before {
    background-color: map(islands, island-industry, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-industry, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-industry, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-industry, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-industry, dark);
    color: map(islands, island-industry, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-industry, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-industry, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-industry, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-industry, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-industry, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-industry, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-industry, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-industry, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-industry, dark);
  }
}

.island-farm {
  &#footer {
    background-image: url("/islands/island-farm-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-farm.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-farm, dark);
  }
  &#island #path {
    top: 360px;
  }
  &#island #path:before {
    background-color: map(islands, island-farm, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-farm, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-farm, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-farm, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-farm, dark);
    color: map(islands, island-industry, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-farm, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-farm, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-farm, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-farm, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-farm, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-farm, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-farm, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-farm, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-farm, dark);
  }
}

.island-city {
  &#footer {
    background-image: url("/islands/island-city-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-city.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-city, dark);
  }
  &#island #path {
    top: 350px;
  }
  &#island #path:before {
    background-color: map(islands, island-city, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-city, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-city, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-city, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-city, dark);
    color: map(islands, island-industry, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-city, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-city, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-city, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-city, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-city, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-city, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-city, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-city, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-city, dark);
  }
}

.island-dark {
  &#footer {
    background-image: url("/islands/island-dark-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-dark.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-dark, dark);
  }
  &#island #path:before {
    background-color: map(islands, island-dark, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-dark, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-dark, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-dark, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-dark, dark);
    color: map(islands, island-industry, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-dark, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-dark, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-dark, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-dark, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-dark, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-dark, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-dark, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-dark, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-dark, dark);
  }
}

.island-mountain {
  &#footer {
    background-image: url("/islands/island-mountain-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-mountain.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-mountain, dark);
  }
  &#island #path:before {
    background-color: map(islands, island-mountain, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-mountain, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-mountain, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-mountain, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-mountain, dark);
    color: map(islands, island-industry, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-mountain, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-mountain, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-mountain, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-mountain, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-mountain, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-mountain, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-mountain, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-mountain, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-mountain, dark);
  }
}

.island-beach {
  &#footer {
    background-image: url("/islands/island-beach-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-beach.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-beach, dark);
  }
  &#island #path:before {
    background-color: map(islands, island-beach, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-beach, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-beach, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-beach, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-beach, dark);
    color: map(islands, island-beach, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-beach, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-beach, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-beach, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-beach, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-beach, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-beach, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-beach, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-beach, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-beach, dark);
  }
}

.island-clock {
  &#footer {
    background-image: url("/islands/island-clock-ground.png");
  }
  &#island .image {
    background-image: url("/islands/island-clock.png");
  }
  &#island .title, & .description, & .toggle-show {
    text-shadow: 0 2px 2px map(islands, island-clock, dark);
  }
  &#island #path:before {
    background-color: map(islands, island-clock, dark);
  }
  & #path .stop, & .island-icon {
    border-color: map(islands, island-clock, dark);
  }
  &#island #path .stop.done {
    background-color: map(islands, island-clock, light);
  }
  &#island #path .stop:not(.next):not(.done) {
    background-color: map(islands, island-clock, dark);
  }
  &#island #path .code-block .side {
    border-color: map(islands, island-clock, dark);
    color: map(islands, island-clock, dark);
  }
  &#island #path .code-block:not(.next) .side {
    background-color: map(islands, island-clock, dark);
  }
  &#island #path .code-block.done .side {
    background-color: map(islands, island-clock, light);
  }
  &.codeBlockCard {
    background-color: map(islands, island-clock, dark);
  }
  &.pt-dialog, & .pt-dialog {
    border-color: map(islands, island-clock, dark);
  }
  &.pt-dialog .pt-dialog-header, & .pt-dialog .pt-dialog-header {
    background-color: map(islands, island-clock, dark);
  }
  &.pt-button.pt-intent-primary, & .pt-button.pt-intent-primary {
    background-color: map(islands, island-clock, dark);
  }
  &#slide a:not(.pt-button) {
    color: map(islands, island-clock, dark);
  }
  &.pt-tooltip .pt-popover-arrow-fill {
    fill: map(islands, island-clock, dark);
  }
  &.pt-tooltip .pt-popover-content {
    background-color: map(islands, island-clock, dark);
  }
}
