#loading {
  margin-top: 30vh;
  text-align: center;
  & .title {
    margin-left: 10px;
    margin-top: 20px;
  }
  &.dark {
    & .title {
      color: #cacaca;
    }
  }
  &.light {
    & .title {
      color: white;
    }
  }
}
