#loading {
  margin-top: 30vh;
  text-align: center;
  & .title {
    margin-left: var(--gutter-xs);
    margin-top: var(--gutter-md);
  }
  &.dark {
    & .title {
      color: var(--light-2);
    }
  }
  &.light {
    & .title {
      color: var(--white);
    }
  }
}
