@import '../mixins.css';

/* main nav bar */
.nav {
  /* positioning */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--gutter-sm);
  padding-right: 0; /* account for var(--gutter-sm) .link padding */
  /* always on top */
  z-index: 20;
  /* sizing */
  height: var(--nav-height);

  /* increase padding on bigger screens */
  @add-mixin min-md {
    padding-right: var(--gutter-xs); /* account for var(--gutter-sm) .link padding */
    padding-left: var(--gutter-md);
  }

  /* logo */
  & .logo {
    width: 80px;
    top: -1px; /* fudge into place */

    /* beta */
    & .tag {
      /* positioning */
      margin-top: -8px;
      text-align: right;
      /* typography */
      font-size: 0.75em;
      font-weight: 800;
      text-transform: uppercase;
      /* theming */
      color: var(--sky-dark);
    }
    & .text {
      width: 148px;
    }
    &:hover {
      text-decoration: none;
    }
  }

  /* main nav list */
  & .links {
    text-align: right; /* keep links on the right */
    padding-left: var(--gutter-md); /* links will wrap before crowding the logo */

    & .link {
      @add-mixin nav-link;
      /* sizing */
      padding: 0.25em var(--gutter-sm);

      /* remove right padding from map link, bring in browser toggle */
      &.map-link {
        padding-right: 0;
      }

      /* tiny screens */
      @add-mixin max-xs {
        /* reduce padding */
        & {
          padding-left: var(--gutter-xs);
          padding-right: var(--gutter-xs);
        }
        /* increase icon size */
        & .link-icon {
          font-size: 22px;
        }
        /* hide link text */
        & .link-text {
          display: none;
        }
      }

      @add-mixin min-xs {
        & .link-icon {
          margin-right: var(--gutter-xxs);
        }
      }
    }
  }
}

/* slide browser */
.browser {
  display: inline-block;

  /* chevron toggle button */
  & .browser-toggle {
    @add-mixin nav-link;
    padding: 0.25em;
  }
}

/* browser popover —  not nested within .browser */
.browser-popover {
  background-color: var(--white);
  width: 250px;
  height: auto;

  & > .pt-popover-content {
    width: auto; /* override default width: max-content */
    background-color: var(--white);

    & > .browser-list {
      /* account for 20px padding on parent,
      which is necessary to hide the popover arrow shadow */
      margin: -20px;
      padding: var(--gutter-xs) 0;

      /* active node */
      & .pt-tree-node-selected > .pt-tree-node-content {
        background-color: var(--sky-dark);
      }
    }
  }
}

/* user popover */
.user-popover {
  & .pt-button {
    display: block;
    margin-bottom: var(--gutter-xs);
    width: 125px;
  }
}
