#nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;

  & .logo {
    width: 125px;
  }

  & .link {
    color: white;
    letter-spacing: 1px;
    padding: 0 15px;
    text-transform: uppercase;

    & .pt-icon-standard {
      margin-left: 5px;
    }

  }

}

.user-popover {

  & .pt-button {
    margin-bottom: 10px;
  }

}
