@import "../mixins.css";

.project-switcher {

  /* main heading baseline adjustment */
  & .project-switcher-heading {
    margin-top: var(--gutter-md);

    /* bigger margin on bigger screens */
    @add-mixin min-sm {
      margin-top: 2.625rem;
    }
  }

  /* subhead baseline adjustment */
  & .project-switcher-subhead {
    top: 0.333em;
  }

  /* space out collab list */
  & .collab-project-switcher {
    margin-top: 1rem;
  }

  /* make links more clickable */
  & .project-switcher-link {
    display: block;
    width: 100%;
  }

  /* new project button */
  & .new-project-button {
    margin-top: var(--gutter-md);
    margin-bottom: var(--gutter-lg);

    /* bigger margin on bigger screens */
    @add-mixin min-sm {
      margin-top: var(--gutter-lg);
    }
  }
}
