li.project {
  display: block; 
  cursor: pointer; 
  width: 150px;
  margin-bottom: 5px;
}

input.projectName {
  margin: 10px;
}

li.selected {
  background-color: lightblue;
}

li.x {
  cursor: pointer;
  margin-bottom: 5px;
}

ul#project-x-list {
  float: left;
  list-style-type: none;
}

ul#project-list {
  float: right;
}

div#project-container {
  width: 280px;
  border: solid 1px black;
  margin: 10px;
}

div#project-title {
  font-weight:bold;
}

div.clear {
  clear: both;
}