@import "../mixins.css";

/* set container height to minimize reflows when loading */
.geosearch-container {
  min-height: 5.0625rem;
}
.school-geosearch-container {
  min-height: 10.125rem;
}

/* keep state & city select side by side */
.state-select-container,
.city-select-container {
  display: inline-block;
  vertical-align: top;
}

/* state select */
.state-select-container {
  width: 4.35em; /* the perfect width to only show the abbreviation */
}

/* city select */
.city-select-container {
  width: calc(100% - 4.35em - 1.25rem);
  left: 1.25rem;
}

/* school select */
.school-select-container {
  margin-top: 0.5rem;
}

/* reset blueprint popover target style */
.field-container .pt-popover-target {
  display: block;
}

/* make the select trigger button look like a select menu */
/* WARNING: this sucks, but the labs select seems to require the blueprint Button element to work correctly so 🤷‍ */
.pt-button.select-trigger {
  @add-mixin select-padding;
  @add-mixin select-theme;
  text-align: left;
  box-shadow: none !important;

  /* reset text and icon size */
  & > span {
    font-size: inherit;
    display: block;
    height: auto;

    /* text overflow */
    &:not(.pt-icon-geosearch) {
      @add-mixin overflow-ellipsis;
      height: 1.5em; /* same as line-height */
    }
  }

  /* icon */
  & > .pt-icon-geosearch {
    @add-mixin select-icon-right;
    /* blueprint resets */
    margin-left: 0;
  }

  /* interactions */
  &:hover, &:focus {

  }
  &:hover > .pt-icon-geosearch {
    color: var(--sky-dark);
  }
}


/* select popover */
/* WARNING: this is gonna get ugly */

/* position inline overlay over select trigger button */
[class*=geosearch-container] .pt-overlay-inline {
  position: absolute;
  top: 0;
}
/* necessary for everything to take up 100% of the space */
[class*=geosearch-container] .pt-overlay-inline * {
  display: block;
  width: 100%;
  max-width: 100%;
}

.geosearch-popover {
  /* limit select list height, make it scrollable */
  /* NOTE: increasing this further will cause part of it to be hidden in some dialogs */
  max-height: 13.5rem;
  overflow-y: auto;
  /* enable inertia scrolling on mobile */
  -webkit-overflow-scrolling: touch;

  /* so much border radius, so little time 😒 */
  &, & .pt-popover-content {
    border-radius: var(--radius-sm);
  }
  & .pt-popover-content * {
    border-radius: 0;
  }

  /* adjust container padding */
  & > div.pt-popover-content { /* increase specificity */
    padding: 0;
    background-color: var(--light-1);
    overflow: hidden;
  }

  /* adjust search input */
  & input {
    @add-mixin font-md;
    @add-mixin button-padding;
    height: auto;
    border: 1px solid var(--sky-dark);
    box-shadow: 0 1px 1em var(--white) !important;
    background-color: var(--sky-light);
    z-index: 1;
    /* BUG: removes inline style */
    /* NOTE: `padding-right` is being inlined somewhere, and obscures the text while typing. Thanks Blueprint...? */
    padding-right: 0 !important;
  }
  /* adjust search and clear icons */
  & .pt-input-group > .pt-icon {
    pointer-events: none; /* prevent from obscuring click */
    font-size: 1rem;
    line-height: 2.75rem;
    padding: 0 0.5rem 0.25rem 0.5rem;
    margin: 0;
    color: var(--sky-dark);
    z-index: 2;
  }
  /* hide the button that doesn't work */
  & .pt-input-group button {
    display: none;
  }

  /* adjust menu */
  & .pt-menu {
    @add-mixin font-sm;
    padding: 0 !important;

    /* interactions */
    & .pt-menu-item {
      will-change: background-color, padding;
      transition:
        0.1s background-color,
        0.1s padding;

      &:hover, &:focus, &.is-focused {
        background-color: var(--light-1);
        padding-left: 0.75em;
      }
    }
  }
}
