@import '../mixins.css';

/* keep popover attached to link */
.field-container .share-link-popover-trigger {
  display: inline-block;
  max-width: 100%;
}

.share-link-popover .pt-popover-content {
  padding: var(--gutter-sm);
}

.share-link-label {
  display: inline-block;
}

.share-direct-link-field-container {
  margin-top: 1rem;
  margin-bottom: -1rem;
}
