li.snippet {
  display: block; 
  cursor: pointer; 
  width: 120px;
}

input.snippetName {
  margin: 10px;
}

li.x {
  cursor: pointer;
}

ul#x-list {
  float: left;
  list-style-type: none;
}

ul#snippet-list {
  float: right;
}

div#snippet-container {
  width: 250px;
}

div.clear {
  clear: both;
}