@import "../mixins.css";

.user-card {
  /* account for absolutely positioned avatar */
  min-height: 3.8rem;

  & > .card-avatar {
    /* sizing */
    width: 2rem;
    height: 2rem;
    /* positioning */
    position: absolute;
    left: var(--gutter-sm);
    top: var(--gutter-sm);
    /* theming */
    background: var(--sky-dark);
    background-size: cover;
    border-radius: 50%;
    /* position fallback icon */
    display: flex;
    align-items: center;
    justify-content: center;
    /* transitions */
    transition:
      opacity 0.2s,
      transform 0.2s;
    will-change: opacity, transform;

    & > .card-avatar-icon {
      color: var(--white);
    }
  }
  & > .card-caption {
    /* make space for avatar */
    padding-left: 4rem; /* fallback */
    padding-left: calc(3rem + var(--gutter-sm));
    padding-right: var(--gutter-xs); /* reset */

    /* title transition */
    & .card-title {
      transition: color 0.2s;
    }
    /* keep bio text from getting too long */
    & .card-bio {
      line-height: 1.4; /* squeeze in the line height a bit */
      max-height: 3rem;
      overflow: hidden;
    }
  }
}

/* interactions */
.card-trigger:hover + .user-card,
.card-trigger:focus + .user-card {
  & .card-title {
    color: var(--sky-dark);
  }
  & .card-avatar {
    opacity: 0.9;
    transform: scale(1.1);
  }
}
