div.it_container {
  border: 1px solid black;
  padding: 10px;
}

div.it_textcontainer {
  padding: 10px;
  width: 300px;
  float: right;
}

div.it_imgcontainer {
  border: 1px solid black;
  padding: 10px;
  width: 500px;
  text-align: center;
  float: left;
}

div.clear {
  clear: both;
}