div#it_container {
  border: 1px solid black;
  padding: 10px;
}

div#it_text-container {
  padding: 10px;
  width: 300px;
  float: right;
  white-space: pre-wrap;
}

div#it_img-container {
  border: 1px solid black;
  padding: 10px;
  width: 500px;
  text-align: center;
  float: left;
}