div.ic_container {
  border: 1px solid black;
  padding: 10px;
}

div.ic_instructions {
  margin-bottom: 20px;
}

div.ic_codecontainer {
  padding: 10px;
  width: 300px;
  float: left;
}

div.ic_rendercontainer {
  padding: 10px;
  width: 500px;
  height: 500px;
  float: right;
}

iframe#renderframe {
  width: 490px;
  height: 490px;
}

div.clear {
  clear: both;
}