@import 'mixins.css';

/* -----------------------------------
resets & quality of life improvements
----------------------------------- */
* {
  margin: 0;
  padding: 0;
}
/* usually necessary for responsive layouts */
img, svg, textarea {
  max-width: 100%;
}
/* border box default: http:/*www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* position:relative by default */
body * {
  position: relative;
}
/* hide the spinner on inputs with a type of "number" */
/* see https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* `display: none` can cause crashes */
  margin: 0; /* nuke the margin */
}
/* textareas can be resized, but only vertically */
textarea {
  resize: vertical;
}

/* override normalize */
figure {
  margin: 0;
  line-height: 0.0001;
}

/* reset focus style */
/* NOTE: always be setting :focus along with :hover */
:focus {
  outline: 0;
}

/* -----------------------------------
base
----------------------------------- */

/* fonts */
body {
  font-family: var(--body-font);
  font-weight: 400;
  overflow-x: hidden;
  font-size: 100%; /* override blueprint */
  color: var(--dark-3);
}

h1, h2, h3, h4, h5, h6,
.heading {
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black);
}

/* default font sizing and line-height */
.font-xxl { @add-mixin font-xxl; }
h1, .font-xl  { @add-mixin font-xl;  }
h2, .font-lg  { @add-mixin font-lg;  }
h3, .font-md  { @add-mixin font-md;  }
h4, .font-sm  { @add-mixin font-sm;  }
h5, .font-xs  { @add-mixin font-xs;  }

/* default link style */
p > a,
.link {
  color: var(--sky-dark);
  cursor: pointer;
  font-weight: 700;
  transition: color 0.2s;

  &:hover, &:focus {
    color: var(--sky);
  }
}

/* hey, don't edit content here! */
.devbar {
  /* sizing */
  width: 100%;
  height: var(--gutter-md);
  /* positioning */
  position: relative;
  top: 0px;
  left: 0px;
  padding-top: 0.05rem;
  /* theming */
  background-color: var(--caution);
  text-align: center;
  opacity: 0.8;
}


/* -----------------------------------
blueprint overrides
----------------------------------- */

/*.pt-overlay-backdrop {
  background-color: rgba(245, 245, 255, 0.7);
}*/

.pt-input {
  border-radius: var(--radius-sm);
}

.pt-file-upload-input {
  border-radius: var(--radius-lg) 0 0 var(--radius-lg);
  &:after {
    border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
  }
}

.pt-button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 2em;
  font-weight: 400;
  text-align: center; /* center align .pt-button text even when it's a div */

  /* blueprint override — increase specificity */
  &[class*="pt-button"] {
    transition: background-color 0.15s ease-out;
  }

  /* more padding on bigger buttons */
  &.font-md {
    @add-mixin button-padding;

    & > .pt-icon {
      margin-right: 0.5em;
    }
  }

  /* override blueprint disabled style */
  &:disabled {
    color: var(--white) !important;
    background-color: var(--light-2) !important;
  }

  /* use sky colors for primary buttons */
  &.pt-intent-primary {
    background: var(--sky-dark);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat var(--sky-dark);
    color: var(--white);
    border: 1px solid var(--sky-dark);
    box-shadow: none !important; /* blueprint override */
    transition:
      background-color 0.2s,
      border-color 0.2s,
      opacity 0.2s;
    will-change: opacity; /* prevents some funkiness */

    &:hover, &:focus {
      opacity: 0.9; /* make the button seem to light up on hover */
      background-color: var(--sky-dark); /* blueprint override */
    }
  }
}


.pt-popover {
  border-radius: var(--radius-lg);

  /* popover sizing defaults */
  & .pt-popover-content {
    width: max-content; /* acts as min-width, makes the container as wide as the content is */
    max-width: 320px;
    padding-top: var(--gutter-sm);
    padding-bottom: var(--gutter-sm);
    border-radius: var(--radius-lg);

    & .pt-button:last-child {
      margin-bottom: 0;
    }
  }
}

/* fix dialog container bug */
.pt-dialog-container {
  width: 100vw;
  height: 100vh;
}

.pt-dialog {
  background-color: var(--light-1);
  border-radius: var(--radius-lg);
  position: fixed !important;

  /* fullscreen dialogs */
  &.is-fullscreen {
    width: calc(100% - var(--gutter-lg));
    height: calc(100vh - var(--gutter-lg));
  }

  /* center align alert contents */
  & .pt-alert-contents {
    text-align: center;
  }
  & .pt-alert-footer {
    justify-content: center;
  }


  & .pt-dialog-body {
    align-items: center;
    display: flex;
    & .island-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 75%;
      border-radius: 100px;
      border-style: solid;
      border-width: var(--gutter-xxs);
      flex: none;
      height: 100px;
      margin-right: var(--gutter-md);
      width: 100px;
    }
  }
  & .pt-dialog-footer {
    padding: 0 var(--gutter-xs);
    & .pt-dialog-footer-byline {
      color: var(--dark-3);
      float: left;
      opacity: 0.75;
      & .share-link {
        display: block;
        font-size: 12px;
        margin-top: var(--gutter-xxs);
      }
    }
  }
}

.pt-toast .pt-button {
  margin: 0;
}

/* set cursor back to default for non-links */
button, .pt-button,
[class*="pt"] select,
label.pt-control  {
  cursor: default;
}

/* checkbox overrides */
.pt-checkbox {
  line-height: 1.333; /* fudge into alignment */
  padding-left: 1.75em;

  /* checkbox appearance */
  &.pt-control > .pt-control-indicator {
    /* theming */
    @add-mixin select-theme;
    box-shadow: none !important;
    border-radius: var(--radius-md);
    /* sizing */
    font-size: inherit;
    width: 1.333em;
    height: 1.333em;
    /* transitions */
    will-change: opacity;
    transition:
      opacity 0.1s
      border-color 0.1s;

    /* check pseudo element */
    &:before {
      /* positioning */
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      /* position check */
      text-align: center;
      /* theming */
      border-radius: var(--radius-md);
      background: var(--sky-dark);
      /* transitions */
      opacity: 0;
      transform: scale(0.25);
      transition:
        opacity 0.1s,
        transform 0.1s;
    }
  }

  /* interactions */
  & > input:focus ~ .pt-control-indicator,
  &:hover > .pt-control-indicator {
    background-color: var(--white);
    border-color: var(--sky-dark);
    opacity: 0.9;
    outline: none;
  }
  /* checked state */
  & > input:checked ~ .pt-control-indicator:before {
    opacity: 1;
    transform: none;
  }
}

/* switches */
.pt-control-indicator {
  background-color: var(--light-2) !important;
}
.pt-control.pt-switch input:checked ~ .pt-control-indicator,
.pt-control.pt-switch .pt-control.pt-checkbox input:indeterminate ~ .pt-control-indicator,
.pt-control.pt-checkbox .pt-control.pt-switch input:indeterminate ~ .pt-control-indicator {
  background-color: var(--sky) !important;
}

/* close button */
.pt-dialog-close-button,
.pt-dialog .pt-dialog-header .pt-dialog-close-button {
  @add-mixin font-lg;
  color: var(--gray);
  transition: 0.2s color;

  /* interactions */
  &:hover, &:focus {
    color: var(--sky-dark);
  }
}

/* NOTE: there are a bunch of overrides for the hideous blueprints lab Select component found in SelectGeo.css */

/* -----------------------------------
layout
----------------------------------- */

.content {
  padding: var(--gutter-md);
  margin-left: auto;
  margin-right: auto;

  /* bigger padding on bigger screens */
  @add-mixin min-sm {
    padding: var(--gutter-lg);
  }

  /* set min width on content container so the footer stays at the bottom */
  @media (min-height: 680px) {
    min-height: 55vh; /* fallback */
    min-height: calc(100vh - 26.6rem); /* 100% fudged */
  }

  /* fullwidth container with transparent background */
  /* NOTE: requires a .content container within for padding */
  & .fullwidth-container {
    @add-mixin fullwidth-section;
    background-color: var(--white);
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* space out sections */
  & .content-section {
    padding-top: var(--gutter-lg);
    padding-bottom: var(--gutter-lg);
    /* center container */
    margin-left: auto;
    margin-right: auto;
    /* set default width */
    max-width: 1220px; /* TODO: add to style.yml */

    /* keep line-length in check */
    &.limited-width {
      max-width: 600px; /* TODO: add to style.yml */
    }

    /* no padding on first and last sections */
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  /* space out typography */
  & h1, & h2, & h3, & h4, & h5, & h6,
  & p, & li, & a,
  & .heading, & .link, & [class*=button] {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  /* don't be indenting list items */
  & ul,
  & ol {
    padding-left: 1.1em;
  }
}


/* -----------------------------------
header
----------------------------------- */

.header {
  /* set height */
  min-height: 60vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
  /* position .header-inner */
  display: flex;
  align-items: center;

  /* reset width due to flex on parent */
  & .header-inner {
    width: 100%;
  }

  /* sidebar theming */
  & .header-sidebar {
    @add-mixin slide-theme;
    padding: var(--gutter-sm) var(--gutter-md);
  }

  /* space out sidebar on small screens */
  @add-mixin max-md {
    & .header-sidebar {
      margin-top: 3rem;
    }
  }

  /* text left, sidebar right layout on larger screens */
  @add-mixin min-md {
    /* vertically center children */
    & .header-text:not(:last-child),
    & .header-sidebar {
      display: inline-block;
      vertical-align: middle;
    }

    /* limit width of text container, if it isn't the only element */
    & .header-text:not(:last-child) {
      width: 75%; /* fallback */
      width: calc(100% - 18.75rem);
    }
    & .header-sidebar {
      width: 20%; /* fallback */
      width: calc(16.25rem);
      left: 2.5rem;
    }
  }
}


/* -----------------------------------
form field layout
----------------------------------- */

/* container theming & padding */
.form-container {
  @add-mixin form-layout;
  background-color: var(--white);
  border-radius: var(--radius-md);
  padding: var(--gutter-md);
  box-shadow: 0 2px 0.75em rgba(8, 26, 24, 0.25);

  & .form-column {
    margin-top: 1.5rem;
  }

  /* give 2nd column some breathing room on small screens */
  @add-mixin max-sm {
    & .form-column-half:nth-of-type(2) {
      margin-top: 2.25rem;

      /* assume submit button */
      & + .field-container {
        margin-top: 1rem;
      }
    }
  }

  @add-mixin min-sm {
    padding: var(--gutter-lg);

    & .form-column-half {
      width: 45%;
      width: calc(50% - 1.5rem);
      display: inline-block;
      vertical-align: top;

      &:nth-of-type(2) {
        left: 3rem;
      }
    }
  }
}

/* NOTE: font size / placement of .field-icon and inputs depends on font-size inherited from .field-container */
.field-container {
  transition: opacity 0.2s;

  /* make label more clickable */
  & label {
    display: inline-block;
    width: 100%;
    /* space out label without creating a dead spot */
    margin-bottom: -0.5em;
    padding-bottom: 0.8em;
  }

  /* NOTE: placement requires icons to follow input */
  & .field-icon {
    pointer-events: none; /* prevent from obscuring field */
    position: absolute;
    z-index: 1;
    bottom: 0.75em;
    left: 0.6em;
    color: var(--gray);
    /* transitions */
    transition: color 0.2s;

    /* position an icon right */
    &.position-right {
      /* position right */
      left: auto;
      right: 0.5em;
    }
  }

  /* select */
  /* reset select container and select element */
  & > .pt-select,
  & > .pt-select > select {
    font-size: inherit;
    display: block;
    width: 100%;
    height: auto;
  }

  /* icon hover effect,
  NOTE: unfortunately won't work with :focus because of the blueprint markup */
  & > .pt-select:hover:after {
    color: var(--sky-dark);
  }

  /* reset padding */
  & > .pt-select > select {
    @add-mixin select-padding;
    @add-mixin select-theme;
  }

  /* icon */
  & > .pt-select:after {
    @add-mixin select-icon-right;
  }

  /* width of inputs, textareas, and buttons dictated by container */
  & > input:not([type=submit]):not([type=file]),
  & > textarea,
  & > button,
  & > [class*=button] {
    width: 100%;
  }

  /* style inputs & textareas */
  & > input:not([type=submit]):not([type=file]),
  & > textarea,
  &.date-picker-container input,
  & .file-select-container .field-input {
    @add-mixin text-input-padding;
    @add-mixin text-input-theme;
  }

  /* textarea min/max height */
  & > textarea {
    min-height: 11rem;
    max-height: 30rem;
  }

  /* make room in text input for icon, which must follow after input
  in source order in order to style icon on :focus */
  &.has-icon input:not([type=submit]):not([type=file]),
  &.has-icon .fake-file-select {
    padding-left: 2.1em;
  }

  /* space out adjacent field containers */
  & + .field-container {
    margin-top: 0.5rem;
  }

  /* buttons */
  & > button,
  & > [class*=button] {
    margin-top: 1.15em;
    margin-bottom: 0; /* reset from .content */
  }

  /* checkbox */
  & .checkbox-container {
    margin-top: 1.125rem;
  }

  /* space out headings */
  & .field-heading {
    margin-top: 2.5em;
  }

  /* social buttons */
  & > .social-button {
    /* offset bigger svg size with less padding */
    padding-top: 0.25em;
    padding-bottom: 0.4em;

    /* social theming */
    &[href*=twitter] {
      background-color: #00ACED;
      border-color: #00ACED;
    }
    &[href*=facebook] {
      background-color: #3B5998;
      border-color: #3B5998;
    }
    &[href*=instagram] {
      background-color: #E4405F;
      border-color: #E4405F;
    }

    /* align buttons */
    & > .social-svg,
    & > .social-button-text {
      vertical-align: middle;
    }

    /* set icon size and position */
    & > .social-svg {
      height: 1.75em;
      top: 1px; /* fudge into place */

      /* reset icon color */
      & > path {
        fill: var(--white);
      }
    }

    & > .social-button-text {
      margin-left: 0.2em;
    }
  }

  /* immutable state — used on email address */
  /* NOTE: remember to also set `tabIndex="-1"` */
  &.is-immutable {
    @add-mixin disable-field;

    /* entered text */
    & input:not([type=submit]):not([type=file]),
    & textarea {
      background-color: var(--white);
      border-color: var(--light-1);
      color: var(--gray);
      padding-right: 2.1em; /* make room for validation tick */
    }
  }

  /* disabled state */
  /* NOTE: remember to also set `tabIndex="-1"` */
  &.is-disabled {
    @add-mixin disable-field;
    opacity: 0.3;
  }

  /* hide validation icon by default */
  & .validation-icon {
    /* theming */
    background-color: var(--gray);
    border-radius: 50%;
    /* transitions */
    opacity: 0;
    transform: scale(0);
    transition:
      opacity 0.2s,
      transform 0.2s,
      background-color 0.2s;

    /* the tick mark itself */
    &:before {
      /* alignment adjustment */
      position: relative;
      top: 1px;
      /* theming */
      color: var(--white);
      /* transitions */
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  /* valid state */
  &.is-valid {

    /* style inputs & textareas */
    &:not(.is-immutable) input:not([type=submit]):not([type=file]),
    &:not(.is-immutable) textarea {
      background-color: var(--white);
      border-color: var(--sky);
      color: var(--sky-dark);
    }

    /* icon color */
    &:not(.is-immutable) .field-icon {
      color: var(--sky);
    }

    /* show validation icon */
    & .validation-icon {
      background-color: var(--sky);
      opacity: 1;
      transform: none;

      &:before {
        opacity: 1;
      }
    }
  }

  /* invalid state */
  &.is-invalid {

    /* style inputs & textareas */
    &:not(.is-immutable) input:not([type=submit]):not([type=file]),
    &:not(.is-immutable) textarea {
      background-color: var(--white);
      border-color: var(--danger);
      color: var(--danger-dark);

      /* focus color */
      &:focus {
        background-color: var(--danger-light);
      }
    }

    /* icon color */
    & .field-icon {
      color: var(--danger-dark) !important;
    }

    /* show validation icon */
    & .validation-icon {
      opacity: 1;
      transform: none;
      background-color: var(--white);

      /* change ✔ to ! */
      &:before {
        content: "";
        top: 0; /* reset fudged positioning */
        color: var(--danger);
        opacity: 1;
      }
    }
  }
}

/* file select overrides */
.file-select-container {

  /* adjust padding on actual field */
  & .field-input[type="file"] {
    padding-top: 0.25em;
    padding-bottom: 0.375em;
    opacity: 0;
  }
  /* make real field and fake field take up width of container */
  & .field-input {
    width: 100%;

    /* interactions */
    &:hover, &:focus {
      & ~ .fake-file-select {
        background-color: var(--white);
        border-color: var(--sky-dark);
      }
      & ~ .fake-file-select:after {
        background-color: var(--sky-dark);
      }
    }
  }
  /* blueprint overrides */
  & .field-input,
  & .fake-file-select:after {
    box-shadow: none !important;
  }

  /* position "field" */
  & .fake-file-select {
    position: absolute;
    top: 0;
    right: 0;
    /* theming */
    border-top-right-radius: 1.5em !important;
    border-bottom-right-radius: 1.5em !important;
    /* prevent obscuring the actual button */
    pointer-events: none;

    /* fake button covers the entire field */
    @add-mixin max-md {
      border-radius: 1.5em !important;
    }
  }

  /* "button" */
  & .fake-file-select:after {
    @add-mixin button-padding;
    display: block;
    content: attr(data-button-text-lg);
    /* theming */
    background-color: var(--sky);
    border: 1px solid var(--sky-dark);
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    color: var(--white);
    /* positioning */
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 1;
    /* prevent obscuring the actual button */
    pointer-events: none;
    /* transitions */
    transition: background-color 0.2s;

    /* small screen adjustments */
    @add-mixin max-md {
      content: attr(data-button-text-sm);
      left: -1px;
      text-align: center;
      border-radius: 1.5em;
    }
  }
}

/* date picker overrides 😭 */
.date-picker-container {

  /* THE INPUT */
  & input {
    height: auto;
    box-shadow: none !important;

    /* invalid date */
    &[value="Out of range"],
    &[value="Invalid date"] {
      &, &:focus {
        background-color: var(--danger-light);
        border-color: var(--danger);
        color: var(--danger-dark);
      }
    }
  }
  /* make room for the icon on the left again 🙄 */
  &.has-icon input {
    padding-left: 2.1em;
    padding-right: 0.75em;
  }
  /* reset the font size after unsetting it so the popover isn't huge 😡 */
  &.font-md input {
    @add-mixin font-md;
  }

  /* THE PICKER */
  /* offset positioning, make it stop uncentering itself */
  & .pt-overlay {
    display: block;
    text-align: center;
  }
  /* reset border radius */
  &, & .pt-popover-content {
    border-radius: var(--radius-sm);
  }
  /* adjust container padding */
  & .pt-popover-content {
    padding: 0;
  }

  /* make next/prev buttons work */
  & .DayPicker-NavButton {
    z-index: 1;
  }
}


/* switch from login to signup */
.form-container .form-switcher {
  margin-top: 2rem;

  @add-mixin min-sm {
    margin-bottom: 0; /* blueprint override */
  }
}


/* -----------------------------------
utility classes
----------------------------------- */
/* make buttons not look like buttons */
.u-unbutton {
  border: 0;
  background: none;
}

/* screen reader text */
.u-visually-hidden {
  @add-mixin visually-hidden;
}

/* make lists not look like lists */
.u-list-reset {
  @add-mixin list-reset;
}

/* absolute expand */
.u-absolute-expand {
  @add-mixin absolute-expand;
}

/* vertical margin */
.u-margin-top-xs { margin-top: var(--gutter-xs) !important; }
.u-margin-top-md { margin-top: var(--gutter-md) !important; }
.u-margin-top-lg { margin-top: var(--gutter-lg) !important; }
.u-margin-top-off { margin-top: 0 !important; }

.u-margin-bottom-xxs { margin-bottom: var(--gutter-xxs) !important; }
.u-margin-bottom-md { margin-bottom: var(--gutter-md) !important; }
.u-margin-bottom-lg { margin-bottom: var(--gutter-lg) !important; }
.u-margin-bottom-off { margin-bottom: 0 !important; }

/* horizontal margin */
.u-margin-left-md { margin-left: var(--gutter-md) !important; }
.u-margin-left-lg { margin-left: var(--gutter-lg) !important; }

.u-margin-right-md { margin-right: var(--gutter-md) !important; }
.u-margin-right-lg { margin-right: var(--gutter-lg) !important; }

.u-margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* padding */
.u-padding-top-off { padding-top: 0 !important; }
.u-padding-bottom-off { padding-bottom: 0 !important; }

/* alignment */
.u-text-center {
  text-align: center;
}

/* show/hide content */
.u-hide-below-sm {
  @add-mixin max-sm {
    display: none !important;
  }
}

/* vertially align child content via flexbox */
.u-vertical-align-children {
  display: flex;
  align-items: center;
  justify-content: center;
}
