@import 'mixins.css';

/* quality of life improvements */
* {
  margin: 0;
  padding: 0;
}
/* usually necessary for responsive layouts */
img, svg, textarea {
  max-width: 100%;
}
/* border box default: http:/*www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* position:relative by default */
body * {
  position: relative;
}

/* fonts */
body {
  font-family: var(--body-font);
  overflow-x: hidden;
  font-size: 100%; /* override blueprint */
  color: var(--dark-3);
}

h1, h2, h3, h4, h5, h6,
.heading {
  font-family: var(--heading-font);
  text-transform: uppercase;
}

/* default font sizing and line-height */
.font-xxl { @add-mixin font-xxl; }
h1, .font-xl  { @add-mixin font-xl;  }
h2, .font-lg  { @add-mixin font-lg;  }
h3, .font-md  { @add-mixin font-md;  }
h4, .font-sm  { @add-mixin font-sm;  }
h5, .font-xs  { @add-mixin font-xs;  }

/* default link style */
p > a,
.link {
  color: var(--sky-dark);
  cursor: pointer;
  font-weight: 700;
  transition: color 0.2s;

  &:hover, &:focus {
    color: var(--sky);
  }
}

#app {
  min-height: 100vh;
  position: absolute;
  width: 100%;
  & .container {
    min-height: 100vh;
  }
}

#devbar {
  width: 100%;
  height: var(--gutter-md);
  background-color: var(--caution);
  position: absolute;
  top: 0px;
  left: 0px;
  text-align:center;
}

h1 {
  font-style: normal;
}

:focus {
  outline: 0;
}


/* -----------------------------------
blueprint overrides
----------------------------------- */

/*.pt-overlay-backdrop {
  background-color: rgba(245, 245, 255, 0.7);
}*/

.pt-input {
  border-radius: var(--radius-sm);
  font-family: var(--heading-font);
}

.pt-file-upload-input {
  border-radius: var(--radius-lg) 0 0 var(--radius-lg);
  &:after {
    border-radius: 0 var(--radius-lg) var(--radius-lg) 0;
  }
}

.pt-select select {
  border-radius: var(--radius-sm);
  font-family: var(--heading-font);
}

.pt-button {
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 2em;
  font-weight: 400;
  text-align: center; /* center align .pt-button text even when it's a div */

  /* blueprint override — increase specificity */
  &[class*="pt-button"] {
    transition: background-color 0.15s ease-out;
  }

  /* more padding on bigger buttons */
  &.font-md {
    padding: 0.35em 2em 0.55em 2em;

    & > .pt-icon {
      margin-right: 0.5em;
    }
  }

  /* use sky colors for primary buttons */
  &.pt-intent-primary {
    background: var(--sky-dark);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) left no-repeat, center no-repeat var(--sky-dark);
    color: var(--white);
    border: 1px solid var(--sky-dark);
    box-shadow: none !important; /* blueprint override */
    transition:
      background-color 0.2s,
      border-color 0.2s,
      opacity 0.2s;
    will-change: opacity; /* prevents some funkiness */

    &:hover, &:focus {
      opacity: 0.9; /* make the button seem to light up on hover */
      background-color: var(--sky-dark); /* blueprint override */
    }
  }
}



.pt-popover {
  border-radius: var(--radius-lg);

  /* popover sizing defaults */
  & .pt-popover-content {
    width: max-content; /* acts as min-width, makes the container as wide as the content is */
    max-width: 320px;
    padding-top: var(--gutter-sm);
    padding-bottom: var(--gutter-sm);
    border-radius: var(--radius-lg);

    & .pt-button:last-child {
      margin-bottom: 0;
    }
  }
}

/* fix dialog container bug */
.pt-dialog-container {
  width: 100vw;
  height: 100vh;
}

.pt-dialog {
  background-color: var(--light-1);
  border-radius: var(--radius-lg);
  position: fixed !important;

  /* fullscreen dialogs */
  &.is-fullscreen {
    width: calc(100% - var(--gutter-lg));
    height: calc(100vh - var(--gutter-lg));
  }

  /* center align alert contents */
  & .pt-alert-contents {
    text-align: center;
  }
  & .pt-alert-footer {
    justify-content: center;
  }

  & .pt-dialog-header {
    background: var(--sky-dark);
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    & h5, & button, & span {
      color: var(--white);
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  & .pt-dialog-body {
    align-items: center;
    display: flex;
    & .island-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 75%;
      border-radius: 100px;
      border-style: solid;
      border-width: var(--gutter-xxs);
      flex: none;
      height: 100px;
      margin-right: var(--gutter-md);
      width: 100px;
    }
  }
  & .pt-dialog-footer {
    padding: 0 var(--gutter-xs);
    & .pt-dialog-footer-byline {
      color: var(--dark-3);
      float: left;
      opacity: 0.75;
      & .share-link {
        display: block;
        font-size: 12px;
        margin-top: var(--gutter-xxs);
      }
    }
  }
}

.pt-toast .pt-button {
  margin: 0;
}

.pt-card {
  align-self: stretch;
  background-color: rgba(120, 120, 120, 0.5);
  border-radius: var(--radius-lg);
  color: var(--white);
  display: flex;
  flex: none;
  margin: var(--gutter-md);
  padding: 0; /* blueprint override */
  text-align: left;
  width: 250px;
  &:hover, &:focus {
    color: var(--white);
    text-decoration: inherit;
  }
  & .box {
    align-items: center;
    align-self: stretch;
    display: flex;
    padding: var(--gutter-xs);
    & .icon {
      background-color: var(--white);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: var(--gutter-md);
      flex: none;
      height: var(--gutter-lg);
      margin-right: var(--gutter-xs);
      text-align: center;
      width: var(--gutter-lg);
      & .pt-icon-standard {
        font-size: 26px;
        line-height: 48px;
      }
    }
    & .info {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: var(--gutter-xxs);
      & .card-title {
        font-size: 16px;
        text-transform: uppercase;
        & .pt-icon-standard {
          margin-right: var(--gutter-xxs);
          opacity: 0.75;
        }
      }
      & .card-meta {
        font-size: 12px;
        opacity: 0.75;
        &>* {
          margin-top: 3px;
        }
        & .pt-icon-standard {
          margin-right: var(--gutter-xxs);
        }
        & .card-author .pt-icon-standard {
          color: var(--white);
        }
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

/* switches */
.pt-control-indicator {
  background-color: var(--light-2) !important;
}
.pt-control.pt-switch input:checked ~ .pt-control-indicator,
.pt-control.pt-switch .pt-control.pt-checkbox input:indeterminate ~ .pt-control-indicator,
.pt-control.pt-checkbox .pt-control.pt-switch input:indeterminate ~ .pt-control-indicator {
  background-color: var(--sky) !important;
}

/* close button */
.pt-dialog-close-button,
.pt-dialog .pt-dialog-header .pt-dialog-close-button {
  @add-mixin font-lg;
  color: var(--gray);
  transition: 0.2s color;

  /* interactions */
  &:hover, &:focus {
    color: var(--sky-dark);
  }
}


/* -----------------------------------
layout
----------------------------------- */

/* Set min width on content container so the footer stays at the bottom */
.content,
.container > .nav + * {
  @media (min-height: 680px) {
    min-height: 55vh; /* fallback */
    min-height: calc(100vh - 26.6rem); /* 100% fudged */

  }
}

.content {
  padding: var(--gutter-md);
  max-width: 1220px; /* TODO: add to style.yml */
  margin-left: auto;
  margin-right: auto;

  @add-mixin min-sm {
    padding: var(--gutter-lg);
  }

  /* space out sections */
  & > .content-section {
    padding-top: var(--gutter-lg);
    padding-bottom: var(--gutter-lg);

    /* keep line-length in check */
    &.limited-width {
      max-width: 600px; /* TODO: add to style.yml */
    }

    /* no padding on first and last sections */
    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  /* space out typography */
  & h1, & h2, & h3, & h4, & h5, & h6,
  & p, & li, & a,
  & .heading, & .link, & [class*=button] {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  /* don't be indenting list items */
  & ul,
  & ol {
    padding-left: 1.1em;
  }
}


/* -----------------------------------
form field layout
----------------------------------- */

/* container theming & padding */
.form-container {
  @add-mixin form-layout;
  background-color: var(--white);
  border-radius: var(--radius-md);
  padding: var(--gutter-md);
  box-shadow: 0 2px 0.75em rgba(8, 26, 24, 0.25);

  @add-mixin min-sm {
    padding: var(--gutter-lg);
  }
}

/* NOTE: font size / placement of .field-icon and inputs depends on font-size inherited from .field-container */
.field-container {

  /* make label more clickable */
  & > label {
    display: inline-block;
    width: 100%;
    /* space out label without creating a dead spot */
    margin-bottom: -0.5em;
    padding-bottom: 0.8em;
  }

  /* NOTE: placement requires icons to follow input */
  & > .field-icon {
    position: absolute;
    z-index: 1;
    bottom: 0.75em;
    left: 0.6em;
    color: var(--gray);
    /* transitions */
    transition: color 0.2s;
  }

  /* width of inputs, textareas, and buttons dictated by container */
  & > input:not([type=submit]):not([type=file]),
  & > textarea,
  & > button,
  & > [class*=button] {
    width: 100%;
  }

  /* style inputs & textareas */
  & > input:not([type=submit]):not([type=file]),
  & > textarea {
    padding: 0.35em 0.75em 0.55em;
    background-color: var(--light-1);
    border: 1px solid var(--gray);
    border-radius: var(--radius-sm);
    /* transitions */
    transition:
      background-color 0.2s,
      border 0.2s;

    /* interactions */
    &:hover {
      background-color: var(--white);
    }
    &:focus {
      background-color: var(--sky-light);
      border-color: var(--sky-dark);

      & + .field-icon {
        color: var(--sky-dark);
      }
    }
  }

  /* make room in text input for icon, which must follow after input
  in source order in order to style icon on :focus */
  &.has-icon > input:not([type=submit]):not([type=file]) {
    padding-left: 2.1em;
  }

  /* space out adjacent field containers */
  & + .field-container {
    margin-top: 0.5rem;
  }

  /* buttons */
  & > button,
  & > [class*=button] {
    margin-top: 1.15em;
    margin-bottom: 0; /* reset from .content */
  }

  /* social buttons */
  & > .social-button {
    /* offset bigger svg size with less padding */
    padding-top: 0.25em;
    padding-bottom: 0.4em;

    /* social theming */
    &[href*=twitter] {
      background-color: #00ACED;
      border-color: #00ACED;
    }
    &[href*=facebook] {
      background-color: #3B5998;
      border-color: #3B5998;
    }
    &[href*=instagram] {
      background-color: #E4405F;
      border-color: #E4405F;
    }

    /* align buttons */
    & > .social-svg,
    & > .social-button-text {
      vertical-align: middle;
    }

    /* set icon size and position */
    & > .social-svg {
      height: 1.75em;
      top: 1px; /* fudge into place */

      /* reset icon color */
      & > path {
        fill: var(--white);
      }
    }

    & > .social-button-text {
      margin-left: 0.2em;
    }
  }
}

/* switch from login to signup */
.form-container .form-switcher {
  margin-top: 2rem;

  @add-mixin min-sm {
    margin-bottom: 0; /* blueprint override */
  }
}


/* -----------------------------------
utility classes
----------------------------------- */
/* make buttons not look like buttons */
.u-unbutton {
  border: 0;
  background: none;
}

/* screen reader text */
.u-visually-hidden {
  @add-mixin visually-hidden;
}

/* make lists not look like lists */
.u-list-reset {
  @add-mixin list-reset;
}

/* vertical margin */
.u-margin-top-md { margin-top: var(--gutter-md) !important; }
.u-margin-top-lg { margin-top: var(--gutter-lg) !important; }
.u-margin-top-off { margin-top: 0 !important; }

.u-margin-bottom-md { margin-bottom: var(--gutter-md) !important; }
.u-margin-bottom-lg { margin-bottom: var(--gutter-lg) !important; }
.u-margin-bottom-off { margin-bottom: 0 !important; }

/* horizontal margin */
.u-margin-left-md { margin-left: var(--gutter-md) !important; }
.u-margin-left-lg { margin-left: var(--gutter-lg) !important; }

.u-margin-right-md { margin-right: var(--gutter-md) !important; }
.u-margin-right-lg { margin-right: var(--gutter-lg) !important; }

.u-margin-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* alignment */
.u-text-center {
  text-align: center;
}

/* show/hide content */
.u-hide-below-sm {
  @add-mixin max-sm {
    display: none !important;
  }
}

/* vertially align child content via flexbox */
.u-vertical-align-children {
  display: flex;
  align-items: center;
}
