/* ISLAND THEMING
NOTE: To add a new theme, add the corresponding variables in style.yml,
then add the theme name to the @each loop below */
@each $theme in
  jungle,
  themepark,
  blizzard,
  desert,
  farm,
  industry,
  city,
  clock,
  trash,
  space,
  dark,
  mountain,
  beach {
  .island-$(theme) {
    /* set background image paths */
    & .island-image,
    & > .island-link-image,
    & .lessonplan-header-image {
      background-image: url("/islands/island-$(theme).png");
    }
    & > .island-link-image-small {
      background-image: url("/islands/island-$(theme)-small.png");
    }
    &.footer:before {
      background-image: url("/islands/island-$(theme)-ground.png");
    }
    /* set background colors */
    /* TODO: clean up / refactor */
    & .island-title,
    & .island-path:before,
    & .island-path .stop:not(.is-next):not(.is-done),
    & .island-path .code-block:not(.is-next) .side,
    &.codeBlockCard,
    &.island-link-label,
    &.pt-tooltip > .pt-popover-content,
    & .island-path .code-block .side {
      background-color: var(--$(theme)-island-dark);
    }
    & .island-path .stop.is-done,
    & .island-path .code-block.is-done .side {
      background-color: var(--$(theme)-island-light);
    }
    /* set color */
    & .island-path .code-block.is-done .side,
    & .pt-dialog-header-title,
    & .lessonplan-toc > * {
      color: var(--$(theme)-island-dark);
    }
    &.slide-inner a:not(.pt-button),
    & .lessonplan-toc-link,
    & .codeblock-dialog-link,
    & .fork-button {
      color: var(--$(theme)-island-medium);
      /* interactions */
      &:hover, &:focus {
        color: var(--$(theme)-island-dark);
      }
    }
    /* set border colors */
    & .island-path .stop,
    & .island-icon,
    &.pt-dialog,
    & .pt-dialog,
    & .island-path .code-block .side {
      border-color: var(--$(theme)-island-dark);
    }
    /* set background color and border color */
    &.pt-button.pt-intent-primary,
    & .pt-button.pt-intent-primary {
      background-color: var(--$(theme)-island-medium);
      border-color: var(--$(theme)-island-medium);
      /* interactions */
      &:hover, &:focus {
        background-color: var(--$(theme)-island-dark);
        border-color: var(--$(theme)-island-dark);
        opacity: 1;
      }
    }
    /* set svg fill */
    &.pt-tooltip .pt-popover-arrow-fill {
      fill: var(--$(theme)-island-dark);
    }
  }
  /* codeblock card theming */
  .island-$(theme)-card {
    /* title color */
    & .card-title {
      color: var(--$(theme)-island-dark);
    }
    /* author link color */
    & .card-author-link {
      color: var(--$(theme)-island-medium);
      /* interactions */
      &:hover, &:focus {
        color: var(--$(theme)-island-dark);
      }
    }
    & .card-island-icon {
      background-image: url("/islands/island-$(theme)-small.png");
    }
  }
}


/* fudge path placement for individual islands */

/* 🌳🌳🌳 */
.island-jungle .island-path {
  margin-top: 40px;
}
/* ❄️❄️❄️ */
.island-blizzard .island-path {
  margin-top: 65px;
}
/* 🐪🐪🐪 */
.island-desert .island-path {
  margin-top: 20px;
}
/* 🚜🐮🍅 */
.island-farm .island-path {
  margin-top: 10px;
}
/* 🏭 🏗 */
.island-industry .island-path {
  margin-top: 10px;
}
/* 🏙🏙🏙 */
.island-city .island-path {
  margin-top: 25px;
}
/* ⚙️🕐⚙️ */
.island-clock .island-path {
  margin-top: 40px;
}
/* 🗑💩🗑 */
.island-trash .island-path {
  margin-top: -20px;
}
/* 👾🚀👾 */
.island-space  .island-path {
  margin-top: 30px;
}
/* ⬛️⬛️⬛️ */
.island-dark .island-path {
  margin-top: 30px;
}
/* 🏔🏔🏔 */
.island-mountain .island-path {
  margin-top: -10px;
}
/* 🏖🏖🏖 */
.island-beach .island-path {
  margin-top: 35px;
}
