/* mixins */

/* mobile first breakpoints */
@define-mixin min-xl  { @media (min-width: 1800px) { @mixin-content; } }
@define-mixin min-lg  { @media (min-width: 1200px) { @mixin-content; } }
@define-mixin min-md  { @media (min-width: 992px)  { @mixin-content; } }
@define-mixin min-sm  { @media (min-width: 768px)  { @mixin-content; } }
@define-mixin min-xs  { @media (min-width: 480px)  { @mixin-content; } }
@define-mixin min-xxs { @media (min-width: 325px)  { @mixin-content; } }

/* max-width first */
@define-mixin max-xl  { @media (max-width: 1799px) { @mixin-content; } }
@define-mixin max-lg  { @media (max-width: 1199px) { @mixin-content; } }
@define-mixin max-md  { @media (max-width: 991px)  { @mixin-content; } }
@define-mixin max-sm  { @media (max-width: 767px)  { @mixin-content; } }
@define-mixin max-xs  { @media (max-width: 479px)  { @mixin-content; } }
@define-mixin max-xxs { @media (max-width: 319px)  { @mixin-content; } }

/* type scaling */
@define-mixin font-xxl {
  font-size: 3.75rem; /* 60px */
  line-height: 1.25;
}
@define-mixin font-xl {
  font-size: 2.375rem; /* 38px */
  line-height: 1.25;
}
@define-mixin font-lg {
  font-size: 1.75rem; /* 28px */
  line-height: 1.25;
}
@define-mixin font-md {
  font-size: 1.25rem; /* 20px */
  line-height: 1.5; /* 30px */
}
@define-mixin font-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.42857; /* ~20px */
}
@define-mixin font-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1.666; /* 20px */
}

/* accessibly hidden text and elements */
@define-mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* fill up all the space — make sure the parent has pos:rel */
@define-mixin absolute-expand {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

/* list reset */
@define-mixin list-reset {
  list-style-type: none; /* remove bullets */
  padding-left: 0; /* thanks blueprint */
}

/* button group; apply to pt-button, not parent */
@define-mixin button-groupify {
  margin: 0; /* smush buttons together */
  min-width: var(--button-min-width); /* for buttons with small text, this will work nicely */

  /* first button, but not if it's the only button */
  &:first-child:not(:last-child)  {
    border-radius: 20em 0 0 20em;
    padding-right: 1.25em;
  }
  /* middle buttons */
  & + .pt-button:not(:last-child) {
    border-radius: 0;
    margin-left: -1px; /* obscure 1px inset box shadow on previous button */
  }
  /* final button, but not if it's the only button */
  &:last-child:not(:first-child)  {
    border-radius: 0 20em 20em 0;
    padding-left: 1.25em;
    margin-left: -1px; /* obscure 1px inset box shadow on previous button */
  }
}

/* nav link */
@define-mixin nav-link {
  /* positioning */
  display: inline-block;
  /* typography */
  color: var(--sky-dark);
  font-weight: 700;
  text-transform: uppercase;
}

/* slide theme */
@define-mixin slide-theme {
  background-color: var(--white);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--radius-md);
  box-shadow: 0 2px 2em rgba(8, 26, 24, 0.1);
}

/* layout for login/signup forms */
@define-mixin form-layout {
  max-width: 52rem;

  @media (min-width: 840px) {
    & .form-inner,
    & .form-divider,
    & .social-button-list {
      display: inline-block;
      vertical-align: middle;
    }
    & .form-inner,
    & .social-button-list {
      width: 42.5%; /* fallback */
      width: calc(50% - 60px); /* make room for the line */
    }
  }
}

/* form divider */
@define-mixin form-divider {
  margin-bottom: -0.8em; /* offset button padding */

  /* text */
  & > .signup-divider-text {
    /* positioning */
    display: inline-block;
    padding: 1em 0.5em; /* hide :before line */
    margin-bottom: 0; /* blueprint override */
    /* typography */
    font-weight: 700;
    /* theming */
    background: var(--white); /* hide :before line */
    color: var(--gray);
  }

  /* line */
  &:before {
    /* sizing */
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    /* positioning */
    position: absolute;
    top: 50%;
    margin-top: -1px; /* account for 2px thickness */
    /* theming */
    background: var(--light-3);
    border-radius: 1px;
  }

  /* horizontal layout on big enough viewports */
  @media (min-width: 840px) {
    width: 15%; /* fallback */
    width: calc(120px);
    margin-top: 1.9em;
    margin-bottom: 0.1em;
    /* remember to set height */

    & > .signup-divider-text {
      padding: 0.25em; /* hide :before line */
      top: 43%; /* fudgy fallback */
      top: calc(50% - 1.5em);
    }

    /* line becomes vertical */
    &:before {
      height: 100%;
      width: 2px;
      left: 50%;
      top: 0;
      margin-top: 0;
      margin-left: -1px;
    }
  }
}
