#about-container {
  background-color: var(--white);
  border-radius: var(--radius-lg);
  margin: var(--gutter-lg) auto;
  max-width: 800px;
  padding: var(--gutter-lg);
  width: 100%;

  & h1 {
    margin: var(--gutter-md) 0;
  }

  & h1:first-child {
    margin-top: 0;
  }

  & h2 {
    margin-top: var(--gutter-lg);
    margin-bottom: var(--gutter-md);
  }

  & p {
    margin-bottom: var(--gutter-sm);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & .pt-form-group {
    margin: var(--gutter-lg) 0;

    & textarea {
      width: 100%;
    }

  }

  & .about-photos {
    margin-top: var(--gutter-md);

    & .pt-tab-list {
      display: flex;

      & .pt-tab {
        flex: 1;
        text-align: center;
      }

    }

  }

}
