#Error {
  height: 60vh;
  text-shadow: 0 2px 5px #444;
  & .pt-non-ideal-state-visual img {
    width: 250px;
  }
  & .pt-non-ideal-state-title {
    color: white;
    font-size: 32px;
  }
  & .pt-non-ideal-state-description {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
}
