@import "../mixins.css";

.home {
  & .island {
    margin-left: -50%;
    width: 200%;
    & .image {
      height: 900px;
      margin-top: -var(--gutter-md);
    }
    & .logo {
      margin: 0 auto var(--gutter-xs);
      width: 450px;
      & .tag {
        color: var(--danger);
        font-size: 16px;
        font-weight: 800;
        margin-top: -8px;
        text-align: right;
        text-transform: uppercase;
        width: 100%;
      }
      & .text {
        width: 100%;
      }
      &:hover {
        text-decoration: none;
      }
    }
    & .pt-button {
      margin-top: var(--gutter-xs);
    }
    & .title {
      color: var(--white);
      flex: 1;
      font-size: 18px;
      font-weight: 400;
      margin: 0 auto;
      max-width: 400px;
      text-align: center;
    }
  }
  & .video {
    align-items: center;
    background-image: url("/home/clouds.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px var(--gutter-xxs) rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    height: 281px;
    justify-content: center;
    margin: 100px auto var(--gutter-lg);
    max-width: 500px;
    width: 100%;
    & .play {
      background-color: rgba(0, 0, 0, 0.5);
      border-bottom-left-radius: 25% 15%;
      border-bottom-right-radius: 25% 15%;
      border-top-left-radius: 25% 15%;
      border-top-right-radius: 25% 15%;
      color: var(--white);
      display: block;
      height: var(--gutter-lg);
      text-align: center;
      transition: background-color 0.2s;
      width: 70px;
      & .pt-icon-play {
        font-size: var(--gutter-md);
        margin-top: var(--gutter-xs);
      }
      &:before {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        content: "";
        height: var(--gutter-lg);
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      & .video-title {
        color: var(--white);
        font-family: "YouTube Noto", "Roboto", Arial, Helvetica, sans-serif;
        font-size: 18px;
        left: var(--gutter-xs);
        position: absolute;
        top: var(--gutter-xs);
      }
    }
    &:hover .play {
      background-color: var(--danger);
    }
  }

  & .authform-button {
    @add-mixin max-xs {
      width: 100%;
    }
    @add-mixin min-xs {
      &:first-of-type {
        margin-right: 2em;
      }
    }
  }

  /* card layout */
  & .card-list {
    @add-mixin card-layout-base;

    /* stacked cards */
    @media (max-width: 599px) {
      @add-mixin card-layout-stacked;
    }

    /* 3 column layout */
    @media (min-width: 600px) {
      @add-mixin card-layout-3col;
    }
  }
}
