@import "../mixins.css";

.home {

  /* login/signup buttons */
  & .authform-button {
    text-transform: lowercase;

    /* stacked layout */
    @add-mixin max-xs {
      width: 100%;
    }
    /* side by side layout */
    @add-mixin min-xs {
      min-width: 8.5em;

      &:first-of-type {
        margin-right: 2em;
      }
    }
  }
}


/* logged in header */
.logged-in-home-header {

  /* center island */
  & .island-link {
    margin-left: auto;
    margin-right: auto;
    /* no one ever resizes their screen, buuuuuut in case they do: */
    transition: transform 0.1s ease-out;
  }

  /* scale up island on bigger screens */
  @add-mixin min-xs {
    & .island-link { transform: scale(1.25); }
    & .header-headline { top: -1.5rem; }
  }
  @add-mixin min-sm {
    & .island-link { transform: scale(1.375); }
    & .header-headline { top: -2.25rem; }
  }
  @add-mixin min-md {
    & .island-link { transform: scale(1.5); }
    & .header-headline { top: -4rem; }
  }
  @add-mixin min-xl {
    & .island-link { transform: scale(1.75); }
    & .header-headline { top: -6rem; }
  }
}
