@import '../mixins.css';

.codeblock-dialog {
  width: 1150px;
}

.snippetrender {
  background-color: var(--white);
  border: 1px solid var(--light-3);
  width: 100%;
}

.overworld {
  padding: var(--gutter-md);
  text-align: center;
  & .welcome {
    color: var(--white);
  }
  & .map {
    display: block;
    margin: var(--gutter-md) auto var(--gutter-lg);
    max-width: 1000px;
    text-align: center;
    width: 100%;

    /* layout */
    & .islandLink {
      margin: var(--gutter-md) auto;

      /* staggered layout */
      @add-mixin min-sm {
        /* offset spacing between first and second islands */
        &:first-child {
          margin-bottom: 100px;
        }
        /* nudge adjacent islands into place */
        & ~ .islandLink {
          margin-top: -125px;
        }
        /* stagger left and right islands */
        &:nth-of-type(even):not(:first-child) {
          margin-left: 0;
        }
        &:nth-of-type(odd):not(:first-child) {
          margin-right: 0;
        }
      }
    }
  }
}
