.codeblock-dialog {
  width: 1150px;
}

.snippetrender {
  background-color: var(--white);
  border: 1px solid var(--light-3);
  width: 100%;
}

.overworld {
  padding: var(--gutter-md);
  text-align: center;
  & .welcome {
    color: var(--white);
  }
  & .map {
    display: block;
    margin: var(--gutter-md) auto var(--gutter-lg);
    max-width: 1000px;
    text-align: center;
    width: 100%;
    & .islandLink {
      &:nth-child(even) {
        margin: -100px auto 0 0;
      }
      &:nth-child(odd) {
        margin: -100px 0 0 auto;
      }
      &:nth-child(1) {
        margin: 0 auto;
      }
      &:nth-child(2) {
        margin: -var(--gutter-lg) auto 0 0;
      }
    }
  }
}
