/*
1. Theme park island
2. Jungle island
3. Ice island
4. Beach island
5. City island
6. Desert island
7. Dark island
8. Farm island
9. Industrial island
10. Mountain island
*/

.snippetrender {
  background-color: white;
  border: 1px solid #A8ABB1;
  width: 100%;
}

.overworld {
  padding: 25px;
  text-align: center;

  & .welcome {
    color: white;
  }

  & .map {
    display: block;
    margin: 0 auto 50px;
    max-width: 900px;
    text-align: center;
    width: 100%;

    & .island {
      display: block;
      width: 300px;

      &:nth-child(even) {
        margin: -100px auto 0 0;
      }

      &:nth-child(odd) {
        margin: -100px 0 0 auto;
      }

      &:nth-child(1) {
        margin: 0 auto;
      }

      &:nth-child(2) {
        margin: -50px auto 0 0;
      }

      & .graphic {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90% auto;
        display: block;
        height: 300px;
        transition: background-size 0.2s;
        width: 300px;

        &:hover {
          background-size: 100% auto;
        }

      }

    }

  }

}
