.codeblock-dialog {
  width: 1150px;
}

.snippetrender {
  background-color: white;
  border: 1px solid #A8ABB1;
  width: 100%;
}

.overworld {
  padding: 25px;
  text-align: center;

  & .welcome {
    color: white;
  }

  & .map {
    display: block;
    margin: 25px auto 50px;
    max-width: 1000px;
    text-align: center;
    width: 100%;

    & .island {
      align-items: center;
      display: flex;
      height: 300px;
      justify-content: center;
      position: relative;
      width: 400px;

      &:nth-child(even) {
        margin: -100px auto 0 0;
      }

      &:nth-child(odd) {
        margin: -100px 0 0 auto;
      }

      &:nth-child(1) {
        margin: 0 auto;
      }

      &:nth-child(2) {
        margin: -50px auto 0 0;
      }

      & .graphic {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90% auto;
        display: block;
        height: 300px;
        position: absolute;
        transition: background-size 0.2s;
        width: 400px;

      }

      &:not(.done):not(.next) {
        & .graphic {
          /*filter: grayscale(1);*/
          opacity: .5;
        }

        & .pt-popover-content {
          background-color: #444 !important;
        }
      }

      & .pt-tooltip {
        margin-top: 100px;
        transition: height 0.2s, transform 0.2s;
        max-width: 50%;

        & .title {
          letter-spacing: 0.5px;
          text-transform: uppercase;

          & .pt-icon-standard {
            margin-right: 8px;
            opacity: 0.75;
          }
        }

        & .description {
          font-size: 10px;
          margin-top: 0;
          max-height: 0;
          opacity: 0;
          transition: margin-top 0.2s, max-height 0.2s, opacity 0.2s;
        }

      }

      &:hover {
        text-decoration: none;

        & .graphic {
          background-size: 100% auto;
        }

        & .pt-tooltip {
          transform: scale(1.3);

          & .description {
            margin-top: 8px;
            max-height: 1000px;
            opacity: 1;
          }

        }

      }

    }

  }

}
