#island {
  margin-bottom: 50px;
  text-align: center;
  width: 100%;

  & .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    position: relative;
    width: 100%;
  }

  & .title {
    color: white;
    text-shadow: 0 2px 2px #444;
  }

  & .title:first-child {
    padding-top: 50px;
  }

  & .description {
    color: white;
    margin: 0 auto;
    text-shadow: 0 2px 2px #444;
    width: 300px;
  }

  & #path {
    display: flex;
    justify-content: space-between;
    left: 50%;
    margin-left: -200px;
    perspective: 500px;
    position: absolute;
    top: 370px;
    width: 400px;

    &:before {
      content: "";
      height: 10px;
      left: 20px;
      position: absolute;
      transform: rotateX(50deg);
      top: 16px;
      width: 360px;
    }

    & .stop {
      background-color: #444;
      border-style: solid;
      border-width: 5px;
      border-radius: 100%;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      display: inline-block;
      height: 40px;
      margin: 0;
      transform: rotateX(50deg);
      transition: margin 0.2s;
      width: 40px;

      &.next {
        animation: bounce 2s infinite;
        background-color: #edff28;
      }

      &.done {
        background-color: #436c31;
      }

      &.next:hover, &.done:hover {
        margin-top: -2px;
        margin-bottom: 2px;
      }

    }

  }

  & #snippets {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;

    & .snippet-link {
      background-color: #444;
      border-radius: 10px;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
      color: white;
      display: inline-block;
      flex: none;
      margin: 20px;
      text-align: left;
      transition: box-shadow 0.2s, margin 0.2s;
      width: 200px;

      & .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 15px 20px;

        & .snippet-title {
          font-size: 16px;
          letter-spacing: 0.5px;
          margin-bottom: 5px;
          text-transform: uppercase;
        }

        & .author {
          opacity: 0.75;
        }

      }

      &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        margin-top: 18px;
        margin-bottom: 22px;
      }

      & .pt-overlay .pt-dialog-body {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        & .header {
          display: flex;
          margin-bottom: 10px;

          & .label {
            color: black;
            flex: 1;
            font-weight: bold;
            text-align: center;

            &:first-child {
              padding: 0 15px;
            }

            &:nth-child(even) {
              margin-left: 25px;
            }

          }

        }

        & .content {
          display: flex;
          flex: 1;

          & .snippet-popup-code {
            align-self: stretch;
            background-color: #323232;
            color: white;
            flex: 1;
            font-size: 12px;
            margin: 0;
            overflow-y: scroll;
            padding: 10px 15px;
            white-space: pre-wrap;

            &.blurry-text {
               color: transparent;
               text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
               pointer-events: none;
            }

          }

          & .snippet-popup-render {
            align-self: stretch;
            background-color: white;
            border: 1px solid #333;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            flex: 1;
            margin-left: 25px;
          }

          & .pt-tooltip {
            opacity: 0;
            left: 25%;
            margin-left: -140px;
            position: absolute;
            text-align: center;
            top: 45%;
            transform: scale(0.9);
            transition: opacity 0.2s, transform 0.2s;
            width: 300px;

            & .title {
              letter-spacing: 0.5px;
              margin-bottom: 5px;
              text-transform: uppercase;
            }

            & .description {
              font-size: 10px;
            }

          }

          &.blurry-text:hover .pt-tooltip {
            opacity: 1;
            transform: scale(1);
          }

        }

      }

    }

  }

  @for $i from 1 to 20 {
    &.island-$i .image {
      background-image: url("/islands/island-$(i).png");
    }
  }

}

.island-1 {
  &#island .title, & .description { text-shadow: 0 2px 2px map(islands, island-1, dark); }
  &#island #path:before { background-color: map(islands, island-1, dark); }
  & #path .stop { border-color: map(islands, island-1, dark); }
  &#island #path .stop.done { background-color: color(map(islands, island-1, dark) lightness(+10%)); }
  &#island #path .stop:not(.next):not(.done) { background-color: map(islands, island-1, light); }
  &#island #snippets .snippet-link { background-color: map(islands, island-1, dark); }
  & .pt-dialog { border-color: map(islands, island-1, dark); }
  & .pt-dialog .pt-dialog-header { background-color: map(islands, island-1, dark); }
  & .pt-button.pt-intent-primary { background-color: map(islands, island-1, dark); }
  &#slide a:not(.pt-button) { color: map(islands, island-1, dark); }
}

.island-2 {
  &#island .title, & .description { text-shadow: 0 2px 2px map(islands, island-2, dark); }
  &#island #path:before { background-color: map(islands, island-2, dark); }
  & #path .stop { border-color: map(islands, island-2, dark); }
  &#island #path .stop.done { background-color: color(map(islands, island-2, dark) lightness(+10%)); }
  &#island #path .stop:not(.next):not(.done) { background-color: map(islands, island-2, light); }
  &#island #snippets .snippet-link { background-color: map(islands, island-2, dark); }
  & .pt-dialog { border-color: map(islands, island-2, dark); }
  & .pt-dialog .pt-dialog-header { background-color: map(islands, island-2, dark); }
  & .pt-button.pt-intent-primary { background-color: map(islands, island-2, dark); }
  &#slide a:not(.pt-button) { color: map(islands, island-2, dark); }
}

.island-3 {
  &#island .title, & .description { text-shadow: 0 2px 2px map(islands, island-3, dark); }
  &#island #path:before { background-color: map(islands, island-3, dark); }
  & #path .stop { border-color: map(islands, island-3, dark); }
  &#island #path .stop.done { background-color: color(map(islands, island-3, dark) lightness(+10%)); }
  &#island #path .stop:not(.next):not(.done) { background-color: map(islands, island-3, light); }
  &#island #snippets .snippet-link { background-color: map(islands, island-3, dark); }
  & .pt-dialog { border-color: map(islands, island-3, dark); }
  & .pt-dialog .pt-dialog-header { background-color: map(islands, island-3, dark); }
  & .pt-button.pt-intent-primary { background-color: map(islands, island-3, dark); }
  &#slide a:not(.pt-button) { color: map(islands, island-3, dark); }
}

.island-4 {
  &#island .title, & .description { text-shadow: 0 2px 2px map(islands, island-4, dark); }
  &#island #path:before { background-color: map(islands, island-4, dark); }
  & #path .stop { border-color: map(islands, island-4, dark); }
  &#island #path .stop.done { background-color: color(map(islands, island-4, dark) lightness(+10%)); }
  &#island #path .stop:not(.next):not(.done) { background-color: map(islands, island-4, light); }
  &#island #snippets .snippet-link { background-color: map(islands, island-4, dark); }
  & .pt-dialog { border-color: map(islands, island-4, dark); }
  & .pt-dialog .pt-dialog-header { background-color: map(islands, island-4, dark); }
  & .pt-button.pt-intent-primary { background-color: map(islands, island-4, dark); }
  &#slide a:not(.pt-button) { color: map(islands, island-4, dark); }
}

.pt-tooltip.island-1 .pt-popover-arrow-fill { fill: map(islands, island-1, dark); }
.pt-tooltip.island-1 .pt-popover-content { background-color: map(islands, island-1, dark); }

.pt-tooltip.island-2 .pt-popover-arrow-fill { fill: map(islands, island-2, dark); }
.pt-tooltip.island-2 .pt-popover-content { background-color: map(islands, island-2, dark); }

.pt-tooltip.island-3 .pt-popover-arrow-fill { fill: map(islands, island-3, dark); }
.pt-tooltip.island-3 .pt-popover-content { background-color: map(islands, island-3, dark); }

.pt-tooltip.island-4 .pt-popover-arrow-fill { fill: map(islands, island-4, dark); }
.pt-tooltip.island-4 .pt-popover-content { background-color: map(islands, island-4, dark); }

@keyframes bounce {
  0%, 40%, 50%, 65%, 100% {background-color: #edff28; transform: translateY(0)rotateX(50deg);}
  45% {background-color: color(#edff28 lightness(75%)); transform: translateY(-4px)rotateX(50deg);}
  55% {background-color: color(#edff28 lightness(75%)); transform: translateY(-2px)rotateX(50deg);}
}
