@import '../mixins.css';

/* main container */
.projects-inner {
  /* theming */
  background-color: var(--white);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 2em rgba(8, 26, 24, 0.1);

  /* layout */
  & .project-body {
    /* stacked controls & editor */
    flex-direction: column;

    /* controls left layout */
    @add-mixin min-sm {
      /* sizing */
      min-height: 90vh; /* fallback */
      min-height: calc(100vh - 60px); /* account for nav height */
      /* children */
      display: flex;
      align-self: stretch;
      flex-direction: row;
    }

    /* .project-controls & .project-editor */
    & > * {
      /* layout fallback */
      display: inline-block;
      vertical-align: top;
    }

    /* controls */
    & .project-controls {
      background-color: var(--white);
      /* add padding */
      padding: var(--gutter-md);
      width: 100%;

      /* sidebar left layout */
      @add-mixin min-sm {
        width: 16rem;
      }
    }

    /* NOTE: additional styles found in components/SlideSwitcher.css */

    /* editor */
    & .project-editor {
      width: 100%;
      align-self: stretch;
      flex: 1;

      /* make code editor take up 100% height */
      & > div {
        height: calc(100vh - 110px);
      }

      /* sidebar left layout */
      @add-mixin min-sm {
        width: calc(100% - 16rem);
        /* add padding */
        padding: var(--gutter-md);
      }
    }
  }
}


/* controls */
.project-controls {

  /* the name of the current project */
  & .project-title {
    text-transform: none;
    letter-spacing: -0.5px;
    margin-bottom: 0.8em;

    /* edit icon */
    & .pt-editable-content:after {
      /* set icon */
      font-family: "Icons20";
      content: "\270E"; /* ✏️ */
      /* sizing */
      font-size: 0.75em;
      /* positioning */
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.25em;
      margin-top: -0.125em;
      /* theming */
      color: var(--gray);
      /* transitions */
      transition: 0.2s color;
    }

    /* interactions */
    &:hover .pt-editable-content:after {
      color: var(--sky-dark);
    }
  }

  /* icon only layout on tiny screens */
  @add-mixin max-xxs {
    /* make items flex to fill up the available horizontal space */
    & .project-action-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      /* inline-block fallback & button alignment */
      & .project-action-item {
        display: inline-block;
        text-align: center;
        flex: 1 0 2rem;

        /* style the button */
        & > .project-action-button {
          /* sizing */
          width: 2rem;
          height: 2rem;
          /* theming */
          border-radius: 50%;
          color: var(--white);
          background-color: var(--sky-dark);
          /* transitions */
          transition: 0.2s opacity;

          /* interactions */
          &:hover, &:focus {
            opacity: 0.85;
          }

          /* delete / leave */
          &.danger-text {
            background-color: var(--danger);
          }
        }
      }
    }
  }

  /* stacked layout on non-tiny screens */
  @add-mixin min-xxs {
    /* extend button clickability */
    & .project-action-button {
      padding-top: 0.375em;
      padding-bottom: 0.375em;
      display: block;
      width: 100%;
      text-align: left; /* override button default */

      /* disabled state */
      &.is-disabled {
        color: var(--gray);
        pointer-events: none;
      }
    }
    /* space out icon and text */
    & .project-action-button-icon {
      font-size: 1.1666em;
      margin-right: 0.5em;
      vertical-align: middle;
    }
  }
}


/* project switcher */
.project-switcher {

  /* main heading baseline adjustment */
  & .project-switcher-heading {
    margin-top: var(--gutter-md);

    /* bigger margin on bigger screens */
    @add-mixin min-sm {
      margin-top: 2.625rem;
    }
  }

  /* subhead baseline adjustment */
  & .project-switcher-subhead {
    top: 0.333em;
  }

  /* space out collab list */
  & .collab-project-switcher {
    margin-top: 1rem;
  }

  /* make links more clickable */
  & .project-switcher-link {
    display: block;
    width: 100%;
  }

  /* new project button */
  & .new-project-button {
    margin-top: var(--gutter-md);

    /* bigger margin on bigger screens */
    @add-mixin min-sm {
      margin-top: var(--gutter-lg);
    }
  }
}


/* codeblock browser layout */
.codeblock-browser {
  min-height: 0;

  & .content-section {
    @add-mixin slide-theme;
    min-height: 33.0625rem; /* fudged to height of all collapsed codeblocks */

    /* override section padding; increase specificity */
    &[class*="content-section"] {
      padding: var(--gutter-md) var(--gutter-sm);

      /* add margin on larger viewports */
      @add-mixin min-md {
        padding: var(--gutter-md);
      }
    }
  }
}

/* heading */
.codeblock-browser-heading {
  text-transform: none;
  letter-spacing: -0.5px;

  /* hide icon */
  & .codeblock-browser-hide-button {
    /* positioning */
    margin-left: 0.25em;
    /* theming */
    color: var(--sky-dark);
    transform: 0.2s opacity;

    &:hover, &:focus {
      opacity: 0.875;
    }
  }
}

/* codeblock browser container */
.codeblock-browser-list {

  /* toggleable island titles */
  & .codeblock-browser-button {
    width: 100%;
    /* space out islands */
    /* theming */
    border-radius: var(--radius-sm);
    text-align: left;
    /* transitions */
    transition:
      background-color 0.2s,
      padding 0.1s;

    /* interations */
    &:hover, &:focus {
      background-color: var(--sky-light);
      padding-left: 0.5em;
    }

    & ~ .codeblock-browser-button {
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  /* card layout */
  & .card-list > .pt-collapse-body {
    @add-mixin card-layout-base;

    /* NOTE: `transform: translateY(0px)` creates a new stacking context,
    which makes the inline codeblock dialog position itself relative
    to the card list, even though it's set to `position: fixed`.
    WTF, blueprint. 😡 */
    &[aria-hidden=false] {
      transform: none !important; /* fix stacking context bug */
    }

    @add-mixin min-xs {
      @add-mixin card-layout-2col;
    }
    @add-mixin min-sm {
      @add-mixin card-layout-3col;
    }
  }

  /* island icon */
  & .codeblock-browser-button-icon {
    height: var(--gutter-md);
    margin-right: var(--gutter-xxs);
    vertical-align: middle;
    width: var(--gutter-md);
  }
}


/* create new project dialog */
.new-project-form-container {
  max-width: 40rem;
}
