#ResetPw {
  background-color: var(--white);
  border-radius: var(--radius-lg);
  margin: var(--gutter-lg) auto;
  max-width: 800px;
  padding: var(--gutter-lg);
  width: 100%;
  & p {
    margin: var(--gutter-md) auto;
  }
  & .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & .link {
      background-color: var(--white);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 170px;
      margin: var(--gutter-md) var(--gutter-xs);
      width: 300px;
      &.border {
        background-size: contain;
      }
    }
  }
}
