#app.share-app {
  overflow: hidden;
}

#share {
  height: 100vh;
  width: 100%;
  & #iframe {
    border: 0;
    display: block;
    height: calc(100vh - var(--gutter-lg));
    margin: 0;
    overflow-y: auto;
    width: 100%;
  }
  & #tag {
    align-items: center;
    background-color: var(--sky);
    box-shadow: 0 0 var(--gutter-xxs) rgba(0, 0, 0, 0.1);
    color: var(--white);
    display: flex;
    height: var(--gutter-lg);
    justify-content: space-between;
    margin: 0;
    padding: 0 var(--gutter-md);
    & .info {
      flex: 1;
      & .pt-icon-standard {
        margin-right: var(--gutter-xxs);
        opacity: 0.75;
      }
      & .user-link {
        color: var(--white);
      }
    }
    & .logo {
      align-items: center;
      display: flex;
      & img {
        margin-left: var(--gutter-xxs);
        margin-top: 2px;
        width: 80px;
      }
    }
    & .actions {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }
}
