@import "../mixins.css";

/* hide redundant overflow scrollbar */
#app.share-app {
  overflow: hidden;
}


/* main page container */
.share-render {
  height: 100vh;
  width: 100%;

  /* rendered project defaults */
  & .code-editor {
    @add-mixin absolute-expand;
    overflow: auto;

    & .render {
      border: none;
    }
  }

  /* footer */
  & .share-footer {
    /* positioning */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    /* sizing */
    width: 100%;
    /* align children */
    align-items: center;
    background-color: var(--sky);
    box-shadow: 0 0 var(--gutter-xxs) rgba(0, 0, 0, 0.1);
    color: var(--white);
    display: flex;
    height: var(--gutter-lg);
    justify-content: space-between;
    margin: 0;
    padding: 0 var(--gutter-md);

    & .info {
      flex: 1;
      & .pt-icon-standard {
        margin-right: var(--gutter-xxs);
        opacity: 0.75;
      }
      & .user-link {
        color: var(--white);
      }
    }

    /* logo */
    & .share-footer-logo {
      align-items: center;
      display: flex;

      /* container positioning */
      & .share-footer-logo-link {
        line-height: 0.5; /* align logo with text */
        margin-left: 0.5em;

        /* set logo size */
        & .logo-svg {
          width: 7.25rem;
          height: 1.625rem;
        }
      }
    }
    & .actions {
      display: flex;
      flex: 1;
      justify-content: flex-end;
    }
  }
}
