@import '../mixins.css';

/* debugging */
/*
.slide-outer   { border: var(--gutter-xxs) solid blue; }
.slide-inner   { border: var(--gutter-xxs) solid red; }
.slide-content { border: var(--gutter-xxs) solid green; }
*/

/* outer container */
.slide-outer {
  /* max-height: 100vh; */
}

/* inner container */
.slide-inner {
  @add-mixin slide-theme;
  /* positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* sizing */
  min-height: 85vh; /* fallback */
  min-height: calc(100vh - 85px); /* fudged — accounts for .slide-inner padding and .nav height */
  padding: var(--gutter-md) var(--gutter-sm);

  /* no border radius on smaller viewports */
  @add-mixin max-md {
    border-radius: 0;
  }

  /* add margin on larger viewports */
  @add-mixin min-md {
    margin: 0 var(--gutter-md) var(--gutter-md) var(--gutter-md);
    padding: var(--gutter-md);
  }

  &.pt-dialog-body {
    margin: 0;
    & .slide-content {
      margin-top: var(--gutter-md);
      & .validation {
        bottom: auto;
      }
    }
  }
  & a:not(.pt-button) {
    opacity: 1;
    text-decoration: underline;
    transition: opacity 0.1s;
    &:hover {
      opacity: 0.85;
    }
  }
  & .slide-header {
    min-height: 29px;
    & .title {
      font-size: 24px;
      letter-spacing: 0.25px;
      text-transform: uppercase;
    }
    & .gems {
      font-weight: 600;
      left: 0;
      letter-spacing: 0.25px;
      position: absolute;
      text-transform: uppercase;
      top: 0;
      & img {
        margin-right: var(--gutter-xxs);
        vertical-align: top;
        width: var(--gutter-md);
      }
    }
    & .return-link {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  & .slide-content {
    min-height: 0;
    margin-top: var(--gutter-xs);
    margin-bottom: var(--gutter-md);
    overflow: visible;
    & p {
      margin-bottom: 0;
    }
    & pre {
      break-inside: avoid-column;
      column-break-inside: avoid;
      font-size: 12px;
      overflow-x: auto;
      page-break-inside: avoid;
      padding: var(--gutter-xxs) var(--gutter-xs);
      width: 100%;
    }
    & .slide-text {
      font-size: 12px;
      line-height: 1.3;
      white-space: pre-wrap;

      /* larger screens */
      @add-mixin min-sm {
        /* hide extra long text overflow */
        max-height: 70vh; /* fallback */
        max-height: calc(100vh - 4em);
        overflow-y: auto;
        /* space out from editors */
        padding-right: 2.5em;
        /* scale up font size */
        font-size: 13px;
      }

      @add-mixin min-md {
        font-size: 14px;
      }

      & code {
        overflow-wrap: break-word;
      }
    }
    &.cheatSheet .slide-text {
      columns: 2;
      max-height: 100%;
      overflow-y: auto;
    }
    & .slide-image-container {
      flex: 1;
      align-self: stretch; /* fill up the appropriate amount of vertical space */
      text-align: center; /* center align image within container */
      width: 100%;

      @add-mixin min-sm {
        width: calc(100% - 300px); /* offset text */
      }

      & > .slide-image {
        display: inline-block;
        border-radius: var(--radius-md);
        max-height: 50vh;

        @add-mixin min-sm {
          max-height: 60vh;
        }
      }
    }
    & .slide-editor {
      align-self: stretch;
      flex: 1;
    }
    & .codeEditor {
      align-self: stretch;
      flex: 2;
    }
    & .validation {
      position: absolute; /* take the validation buttons out of the flow */
      bottom: -55px; /* fudge into place; offsets .slide-content margin and button height */
      z-index: 1; /* prevent slide nav buttons from obscuring validation buttons */

      /* treat as button group */
      & .pt-button {
        @add-mixin button-groupify;
      }

      /* make buttons take up 50% width on tiny screens */
      @add-mixin max-sm {
        width: 100%; /* necessary due to pos:ab */

        /* two buttons */
        & .pt-button {
          width: 50%;

          /* one button (both first and last) */
          &:first-of-type:last-of-type {
            width: 100%;
          }
        }

        /* three buttons */
        &.three-buttons .pt-button {
          width: 33.333%;
        }
      }
    }
    & .slide-quiz {
      font-size: 18px;
      line-height: 24px;
      max-width: 600px;
      & .questions {
        list-style: none;
        margin: var(--gutter-xs) 0;
        padding: 0;
        & .question {
          background-color: transparent;
          counter-increment: item;
          margin: 1px 0;
          padding: var(--gutter-xs) var(--gutter-sm) var(--gutter-xs) 40px;
          text-align: left;
          transition: background-color 0.2s;
          &:before {
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: var(--radius-md);
            content: counter(item, upper-alpha);
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            height: var(--gutter-md);
            left: var(--gutter-xs);
            line-height: var(--gutter-md);
            padding-left: 1px;
            position: absolute;
            text-align: center;
            top: 12px;
            transition: background-color 0.2s;
            width: var(--gutter-md);
          }
          &.quiz-selected {
            background-color: rgba(0, 0, 0, 0.05);
            &:before {
              background-color: transparent;
            }
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.15);
            cursor: pointer;
            &:before {
              background-color: var(--sky);
            }
          }
        }
      }
    }
  }
  & .slide-footer {
    display: flex;
    justify-content: space-between;

    & .pt-button {
      min-width: var(--button-min-width);

      &:hover, &:focus {
        opacity: 0.9;
      }
    }

    @add-mixin max-sm {
      margin-top: var(--gutter-xxs);
      justify-content: center;

      & .pt-button {
        @add-mixin button-groupify;
        margin-top: var(--gutter-lg);
        width: 50%;
      }
    }
  }
  & .flex-row {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 100%;

    & .slide-text {
      align-self: stretch;
      flex: none;
      overflow: scroll;
      width: 300px;
      margin-bottom: 1.5em;

      &.wide {
        max-width: 400px;
      }
    }
    &.cheatSheet .slide-text {
      flex: 1;
      width: inherit;
    }
    @add-mixin max-sm {
      flex-direction: column;
      flex-wrap: nowrap;
      & .slide-text {
        width: auto;
      }
    }
  }
  & .flex-column {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

/* slide completion */
.confetti {
  position: absolute;
  margin: 0 auto;
  top: 0;
  z-index: 1000;
}
