:root {
  --island-width: 500px;
}

#splash {

  & .panel {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    position: relative;
    width: 100%;
  }

  & #entry {
    margin-top: -150px;
    max-width: 350px;
    position: relative;
    text-align: center;

    & .island {
      left: 50%;
      margin-left: calc(var(--island-width) / 2 * -1);
      position: absolute;
      top: 80px;
      width: var(--island-width);
      z-index: 0;
    }

    & .logo {
      margin: 0 auto 50px;
      position: relative;
      width: 90%;
      z-index: 1;
    }

    & form, & .form {
      position: relative;
      z-index: 1;
    }

    & #socials {
      margin-bottom: 10px;
      position: relative;
      z-index: 1;
    }

  }

  & .about-anchor {
    bottom: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      text-decoration: none;
    }

    & .pt-icon-large {
      display: block;
    }

  }

  & #about {

    & h2 {
      color: white;
      margin-bottom: 25px;
      text-align: center;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    & p {
      color: white;
      font-size: 18px;
      line-height: 30px;
      max-width: 500px;
      text-align: left;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      width: 100%;
    }

  }

}
