:root {
  --island-width: 600px;
}

#splash {

  & .panel {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 625px;
    justify-content: center;
    margin-top: calc(var(--nav-height) * -1);
    width: 100%;

    &:last-child {
      height: calc(100vh - var(--footer-height));
      min-height: 500px;
      margin-top: 0;
    }
  }

  & #entry {
    margin-bottom: 100px;
    max-width: 350px;
    text-align: center;

    & .island {
      left: 50%;
      margin-left: calc(var(--island-width) / 2 * -1);
      position: absolute;
      top: 100px;
      width: var(--island-width);
      z-index: 0;
    }

    & .logo {
      margin: 0 auto;
      width: 90%;
      z-index: 1;
    }

    & .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 325px;
      text-align: left;
      z-index: 1;

      & .pt-minimal {
        background-color: rgba(219, 55, 55, 0.6);
        color: var(--white);
        margin-bottom: var(--gutter-xs);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

        &:hover {
          background-color: rgba(219, 55, 55, 0.8);
        }
      }

      & .pt-checkbox {
        font-size: 12px;
        margin-left: var(--gutter-xxs);
        text-shadow: 0 1px 2px rgba(0, 0, 0, 1);

        & .pt-control-indicator {
          margin-left: var(--gutter-xxs);
        }

      }

    }

    & #socials {
      margin-bottom: var(--gutter-xs);
      z-index: 1;
    }

  }

  & .about-anchor {
    bottom: var(--gutter-md);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      text-decoration: none;
    }

    & .pt-icon-large {
      display: block;
    }

  }

  & #about {

    & h2 {
      color: var(--white);
      margin-bottom: var(--gutter-md);
      text-align: center;
      text-shadow: 0 2px var(--gutter-xxs) rgba(0, 0, 0, 0.5);
    }

    & p {
      color: var(--white);
      font-size: 18px;
      line-height: var(--gutter-md);
      max-width: 500px;
      text-align: left;
      text-shadow: 0 2px var(--gutter-xxs) rgba(0, 0, 0, 0.5);
      width: 100%;
    }

  }

}

#beta {
  color: var(--danger);
  font-size: var(--gutter-md);
  font-weight: 800;
  position: absolute;
  right: var(--gutter-sm);
  text-transform: uppercase;
  top: -var(--gutter-md);
}

#beta-text {
  font-size: 16px;
  margin: 0 auto var(--gutter-lg);
}
