:root {
  --island-width: 500px;
}

#splash {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  & .center-block {
    margin-top: -150px;
    max-width: 350px;
    position: relative;
    text-align: center;

    & .island {
      left: 50%;
      margin-left: calc(var(--island-width) / 2 * -1);
      position: absolute;
      top: 80px;
      width: var(--island-width);
      z-index: 0;
    }

    & .logo {
      margin: 0 auto 50px;
      position: relative;
      width: 90%;
      z-index: 1;
    }

    & form, & .form {
      position: relative;
      z-index: 1;
    }

    & #socials {
      margin-bottom: 10px;
      position: relative;
      z-index: 1;
    }

  }

}
