#studio {
  background-color: var(--white);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 225px);
  left: 0;
  margin: 0 var(--gutter-md) var(--gutter-md);
  padding: var(--gutter-md) 0 var(--gutter-md);
  position: absolute;
  top: 100px;
  width: calc(100% - var(--gutter-lg));

  & #head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--gutter-md) var(--gutter-md);

    & .title {
      font-size: 24px;
    }

    & .buttons {
      & .pt-button {
        margin: 0 var(--gutter-xxs);
      }
    }

  }

  & #body {
    align-self: stretch;
    display: flex;
    flex: 1;
    margin: 0 var(--gutter-sm);

    & .studio-panel {
      align-self: stretch;
      margin: 0 var(--gutter-xs);
      width: 300px;

      & .pt-tab-list {
        justify-content: flex-start;
      }

      & .pt-tab-panel {
        max-height: calc(100vh - 375px);
        overflow-y: auto;
      }

    }

    & .studio-editor {
      align-self: stretch;
      flex: 1;
      margin: 0 var(--gutter-xs);
    }

    & .studio-render {
      align-self: stretch;
      background-color: var(--white);
      border: 1px solid var(--dark-3);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      flex: 1;
      margin: 0 var(--gutter-xs);
    }

  }

}
