@import '../mixins.css';

.studio {
  @add-mixin slide-theme;
  @add-mixin slide-sizing;

  & .head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--gutter-md) var(--gutter-md);

    & .title {
      font-size: 24px;
    }

    & .buttons {
      & .pt-button {
        margin: 0 var(--gutter-xxs);
      }
    }
  }

  & .body {
    align-self: stretch;
    display: flex;
    flex: 1;
    margin: 0 var(--gutter-sm);

    & .studio-panel {
      align-self: stretch;
      margin: 0 var(--gutter-xs);
      width: 300px;

      & .pt-tab-list {
        justify-content: flex-start;
      }

      & .pt-tab-panel {
        max-height: calc(100vh - 375px);
        overflow-y: auto;
      }

      /* list of mini islands */
      & .snippets-list {
        @add-mixin list-reset;

        /* island list item */
        & .snippet {
          /* space out islands */
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          /* make it look clickable */
          /* TODO: make these buttons */
          cursor: pointer;
          /* theming */
          border-radius: var(--radius-sm);
          /* transitions */
          transition:
            background-color 0.2s,
            padding 0.1s;

          /* interations */
          &:hover, &:focus {
            background-color: var(--sky-light);
            padding-left: 0.5em;
          }
        }

        /* island icon */
        & .icon {
          height: var(--gutter-md);
          margin-right: var(--gutter-xxs);
          vertical-align: middle;
          width: var(--gutter-md);
        }
      }

      /* actual card list; add padding when visible */
      & .pt-collapse-body[aria-hidden=false] {
        padding: var(--gutter-xs);
      }
    }

    & .studio-editor {
      align-self: stretch;
      flex: 1;
      margin: 0 var(--gutter-xs);
    }

    & .studio-render {
      align-self: stretch;
      background-color: var(--white);
      border: 1px solid var(--dark-3);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      flex: 1;
      margin: 0 var(--gutter-xs);
    }
  }
}


.studio .card-list .card-container {
  margin-bottom: 1rem;
}
