@import '../mixins.css';

.studio {
  @add-mixin slide-theme;
  @add-mixin slide-sizing;

  & .head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--gutter-md) var(--gutter-md);

    & .title {
      font-size: 24px;
    }

    & .buttons {
      & .pt-button {
        margin: 0 var(--gutter-xxs);
      }
    }

  }

  & .body {
    align-self: stretch;
    display: flex;
    flex: 1;
    margin: 0 var(--gutter-sm);

    & .studio-panel {
      align-self: stretch;
      margin: 0 var(--gutter-xs);
      width: 300px;

      & .pt-tab-list {
        justify-content: flex-start;
      }

      & .pt-tab-panel {
        max-height: calc(100vh - 375px);
        overflow-y: auto;
      }

    }

    & .studio-editor {
      align-self: stretch;
      flex: 1;
      margin: 0 var(--gutter-xs);
    }

    & .studio-render {
      align-self: stretch;
      background-color: var(--white);
      border: 1px solid var(--dark-3);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      flex: 1;
      margin: 0 var(--gutter-xs);
    }

  }

}
