#profile {
  background-color: var(--white);
  border-radius: var(--radius-lg);
  display: flex;
  margin: 0 var(--gutter-md) var(--gutter-md);
  width: calc(100% - var(--gutter-lg));

  & .user-img {
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: var(--gutter-lg);
    width: var(--gutter-lg);
  }

  & .profile-side {
    flex: none;
    margin: var(--gutter-md);
    width: 300px;

    & .user-info {
      text-align: center;

      & .user-img {
        margin: 0 auto var(--gutter-md) auto;
        height: 200px;
        width: 200px;
      }

      & .user-name {
        line-height: 40px;
        margin-bottom: var(--gutter-md);
      }

      & .edit-link {
        margin: var(--gutter-xs) auto;
      }

      & .pt-icon-large {
        font-size: 128px;
        margin-bottom: var(--gutter-md);
      }

      & p {
        margin: var(--gutter-xs) 0;
        text-align: left;

        & .pt-icon-standard {
          opacity: 0.75;
          width: var(--gutter-md);
        }

      }

    }

  }

  & .profile-info {
    flex: 1;
    margin: var(--gutter-md);

    & .user-section {
      margin-bottom: var(--gutter-md);

      & .flex-row {
        display: flex;
        flex-wrap: wrap;
      }

    }

    & .user-section:last-child {
      margin-bottom: 0;
    }

    & .pt-form-group {
      align-items: center;
      margin: var(--gutter-md) 0;

      & .pt-label {
        line-height: 16px;
        width: 100px;
      }

      & .pt-input {
        width: 200px;
      }

      & .pt-select {
        display: block;
        width: 200px;

        & select {
          width: 100%;
        }

      }

      & .pt-button {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: var(--gutter-xxs);
        padding-right: 7px;
        width: 200px;
      }

    }

  }

  @media only screen and (max-width : 768px) {
    flex-direction: column;
    flex-wrap: nowrap;

    & .profile-side {
      width: auto;
    }

  }

}
