#profile {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  margin: 0 25px 25px;
  width: calc(100% - 50px);

  & .user-img {
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  & .profile-side {
    flex: none;
    margin: 25px;
    width: 300px;

    & .user-info {
      text-align: center;

      & .user-img {
        margin: 0 auto 20px auto;
        height: 200px;
        width: 200px;
      }

      & .user-name {
        line-height: 40px;
        margin-bottom: 25px;
      }

      & .edit-link {
        margin: 10px auto;
      }

      & .pt-icon-large {
        font-size: 128px;
        margin-bottom: 25px;
      }

      & p {
        margin: 10px 0;
        text-align: left;

        & .pt-icon-standard {
          opacity: 0.75;
          width: 25px;
        }

      }

    }

  }

  & .profile-info {
    flex: 1;
    margin: 25px;

    & .user-section {
      margin-bottom: 25px;

      & .flex-row {
        display: flex;
        flex-wrap: wrap;
      }

    }

    & .user-section:last-child {
      margin-bottom: 0;
    }

    & .pt-form-group {
      align-items: center;
      margin: 25px 0;

      & .pt-label {
        line-height: 16px;
        width: 100px;
      }

      & .pt-input {
        width: 200px;
      }

      & .pt-select {
        display: block;
        width: 200px;

        & select {
          width: 100%;
        }

      }

      & .pt-button {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 5px;
        padding-right: 7px;
        width: 200px;
      }

    }

  }

  @media only screen and (max-width : 768px) {
    flex-direction: column;
    flex-wrap: nowrap;

    & .profile-side {
      width: auto;
    }

  }

}
