@import '../../mixins.css';

/* three features */
.feature-list {

  /* feature container */
  & .feature-item {
    padding: var(--gutter-md);
    /* theming */
    background-color: var(--white);
    box-shadow: 0 2px 0.75rem rgba(8, 26, 24, 0.25);
    border-radius: var(--radius-md);
  }

  /* icon default styles */
  & .feature-icon {
    /* sizing */
    width: 3.25rem;
    height: 3.25rem;
    /* base theming */
    background-color: var(--sky);
    border-radius: 50%;
    overflow: hidden;
    /* align icon & text */
    vertical-align: middle;
    /* center icon */
    text-align: center;

    /* the icon itself */
    &:before {
      font-size: 2em; /* size according to .feature-icon font size */
      line-height: 3.25rem; /* container height */
      /* base theme */
      color: var(--white);
    }
  }

  /* theming for icons 2 & 3 */
  & .feature-item:nth-of-type(2) .feature-icon {
    background-color: var(--cyan);
  }

  /* theming for icons 2 & 3 */
  & .feature-item:nth-of-type(3) .feature-icon {
    background-color: var(--lilac);
  }

  /* stacked layout */
  @add-mixin max-sm {
    /* space out adjacent items */
    & .feature-item + .feature-item {
      margin-top: 2em;
    }
    /* space out text from icon */
    & .feature-text {
      /* sizing */
      display: inline-block;
      width: calc(100% - 3.25rem); /* account for icon */
      /* positioning */
      margin-top: 2px; /* fudge vertical alignment */
      padding-left: 1rem;
      vertical-align: middle;
    }
  }

  /* 3 col layout */
  @add-mixin min-sm {
    display: flex;
    justify-content: space-between;

    & .feature-text {
      margin-top: 0.5em;
    }

    & .feature-item {
      /* sizing */
      width: 30%; /* fallback */
      width: calc(33.3% - 1.65rem);
      /* positioning */
      display: inline-block;
      vertical-align: top; /* blueprint override */
      /* center children */
      text-align: center;

      /* space out adjacent elements */
      & + .feature-item {
        margin-left: 2.5rem;
      }

      /* icon */
      & .feature-icon {
        /* sizing */
        width: 4.5rem;
        height: 4.5rem;
        /* positioning */
        margin-left: auto;
        margin-right: auto;
        /* make the text move to its own line */
        display: block;
        margin-bottom: 0.5em;

        /* size the icon itself */
        &:before {
          line-height: 4.5rem; /* container height */
        }
      }
    }
  }
}
