@import '../../mixins.css';

/* what you'll learn */
.learn-section {

  /* theme overrides */
  & .learn-heading,
  & .learn-list {
    color: var(--white);
  }

  & .learn-bg {
    @add-mixin fullwidth-section;
    content: "";
    /* sizing */
    width: 100vw;
    height: 120%; /* fallback */
    height: calc(100% + 16rem);
    /* positioning */
    position: absolute;
    z-index: 1;
    top: -8rem;
    /* theming */
    background-color: var(--cyan); /* fallback */
    background-image: linear-gradient(to top, var(--cyan-light) 0, var(--cyan) 100%);

    /* position cloud */
    & .cloud-diagonal-exponential {
      /* sizing */
      width: 100%;
      min-width: 60rem; /* never show in between sections */
      height: auto;
      /* positioning */
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  & .learn-figure,
  & .learn-caption {
    z-index: 1;
  }

  /* keep caption visible */
  & .learn-caption {
    /* sizing */
    width: 22.5rem;
    /* positioning */
    padding-top: 2.5rem;
  }

  /* stacked layout */
  @add-mixin max-sm {
    margin-top: var(--gutter-md);
    margin-bottom: var(--gutter-lg);

    /* center */
    & .learn-caption {
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* 2 col layout */
  @add-mixin min-sm {
    padding-top: 10% !important; /* override */
    margin-bottom: var(--gutter-lg);

    & .learn-figure {
      margin-left: auto;
      width: calc(100% - 22.5rem);
      text-align: center;
      float: right;

      & .learn-img {
        min-width: auto;
        max-width: none; /* override default `max-width: 100%;` */
        top: -3rem;
      }
    }
  }

  /* offset default list item margin */
  & .learn-list-item + .learn-list-item {
    margin-top: -0.75em;
  }
}
