@import '../../mixins.css';

.home-about-section {

  /* flex container */
  & .home-about-half-container {

    /* space out / position video */
    & .home-about-half:last-of-type {
      margin-top: 2.75rem;
    }

    /* two column layout */
    @add-mixin min-sm {
      display: flex;
      flex-direction: row;

      & .home-about-half {
        width: 50%;
        width: calc(50% - var(--gutter-md));

        /* limit video width & pull right */
        &:last-of-type {
          max-width: 35rem; /* 560px */
          margin-left: auto;
        }
      }
    }
  }
}
