.lessonbuilder {
  display: flex;
  height: 100%;
  width: 100%;

  & .lessonbuilder-tree {
    background-color: var(--light-1);
    padding: 0;
    width: 250px;
    min-height: calc(100vh - 430px);

    & .pt-tree {
      width: 250px;
    }

    & .pt-tree-node-list {
      padding-left: 0;
    }

    & .pt-tree-node {

      &.pt-tree-node-selected > .pt-tree-node-content {
        background-color: var(--sky-dark);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .item-editor {
    background-color: var(--white);
    border-top-right-radius: var(--radius-lg);
    flex: 1;
    padding: var(--gutter-md);
    & .input-block, & .area-block {
      width: 100%;
      display: flex;
      & .pt-label {
        flex: 1;
        &:first-child {
          margin-right: var(--gutter-md);
        }
        & .pt-input {
          width: 100%;
        }
        & .pt-select {
          width: 100%;
        }
        & .quill {
          width: 100%;
          & .ql-toolbar {
            border-radius: var(--radius-md) var(--radius-md) 0 0;
          }
          & .ql-container {
            border-radius: 0 0 var(--radius-md) var(--radius-md);
          }
        }
        & .image-area {
          & img {
            width: 100%;
          }
        }
      }
    }
  }
}

.rule-section {
  display: flex;
}

.rule-select {
  width: 260px;
  margin: var(--gutter-xxs);
}

.rule-param {
  flex: 1;
  margin: var(--gutter-xxs);
  width: 0;
}

.rule-error {
  width: 350px;
  margin: var(--gutter-xxs);
}
