.lessonbuilder {
  display: flex;
  height: 100%;
  width: 100%;

  & .lessonbuilder-tree {
    background-color: var(--light-1);
    padding: 0;
    min-height: calc(100vh - 430px);

    &,
    & .pt-tree {
      width: 250px;
      min-width: 180px;
      max-width: 25vw;
    }

    & .pt-tree-node-list {
      padding-left: 0;
    }

    & .pt-tree-node {
      cursor: pointer;
      margin-top: 0;
      margin-bottom: 0;

      &.pt-tree-node-selected > .pt-tree-node-content {
        background-color: var(--sky-dark);
      }
    }
  }

  & textarea {
    min-height: 4rem;
  }

  & .item-editor {
    background-color: var(--white);
    border-top-right-radius: var(--radius-lg);
    flex: 1;

    & .input-block, & .area-block {
      width: 100%;
      display: flex;
      & .pt-label {
        flex: 1;
        &:first-child {
          margin-right: var(--gutter-md);
        }
        & .pt-input {
          width: 100%;
        }
        & .pt-select {
          width: 100%;
        }
        & .quill {
          width: 100%;
          & .ql-toolbar {
            border-radius: var(--radius-md) var(--radius-md) 0 0;
          }
          & .ql-container {
            border-radius: 0 0 var(--radius-md) var(--radius-md);
          }
        }
        & .image-area {
          & img {
            width: 100%;
          }
        }
      }
    }
  }
}


.ql-tooltip {
  z-index: 1; /* position inserted term tooltip above other elements */
}
