.quiz-section {
  align-items: center;
  display: flex;
  margin-bottom: var(--gutter-xs);
  & .pt-input {
    flex: 1;
    margin-right: var(--gutter-xs);
    &.en {
      margin-right: var(--gutter-md);
    }
  }
  & .pt-checkbox {
    margin: 0 var(--gutter-xs);
  }
  & .pt-button {
    margin: 0 var(--gutter-xxs);
  }
}
