.quiz-section {
  align-items: center;
  display: flex;
  margin-bottom: var(--gutter-xs);

  & > *:not(:last-child) {
    margin-right: var(--gutter-md);
  }

  & .pt-switch {
    width: 3rem;
    margin-right: var(--gutter-sm);
  }
  & .field-container {
    flex: 1;
  }
  & .quiz-actions {
    width: 7.5rem;
  }
}
