.rulebuilder {
  padding: 0 0 var(--gutter-md) 0;

  /* adjust padding on bigger screens */
  @add-mixin min-md {
    padding: 0 var(--gutter-md) var(--gutter-md) var(--gutter-md);
  }

  & .rule {
    margin-top: var(--gutter-md);
    margin-bottom: var(--gutter-lg);
    width: 100%;

    /* side by side fields */
    & .rule-subhead,
    & .rule-input {
      display: inline-block;
      width: 50%; /* fallback */
      width: calc(50% - var(--gutter-sm));
    }

    /* add margin */
    & .pt-rule-subhead,
    & .pt-rule-input {
      left: 30px;
    }
  }
}
