#RuleBuilder {
  background-color: var(--white);
  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
  padding: var(--gutter-md);
  & .rule {
    border-bottom: 1px solid var(--light-1);
    padding: var(--gutter-md) 0;
    width: 100%;
    &:first-child {
      padding-top: 0;
    }
    & .rule-title {
      display: inline-block;
      width: calc(50% - var(--gutter-xs));
    }
    & .translation-title {
      display: inline-block;
      font-size: 14px;
      margin-left: var(--gutter-md);
      opacity: 0.75;
      width: calc(50% - var(--gutter-xs));
    }
    & .pt-input {
      margin: var(--gutter-xxs) 0;
      width: calc(50% - var(--gutter-xs));
      &.translation {
        margin-left: var(--gutter-md);
      }
    }
  }
}
